<!--
	作者：sxh
	时间：2018-11-12
	描述：差旅标准
-->
<!DOCTYPE html>
<html>

	<head>
		<title>差旅标准</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="../../public/html/css/oa.base.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.common.css" />
		<link rel="stylesheet" href="css/businessTravel-standard.css" />
	</head>

	<body class="backgroundf6">
		<!--头部 begin-->
		<div class="header clearfix backgroundfff">
			<!--左侧logo  begin-->
			<div class="headerLogoLeft pull-left"><img src="../../public/html/images/logo.png" alt="" /></div>
			<!--左侧logo  end-->
			<!--右侧信息 begin-->
			<div class="headerInfo pull-right clearfix">
				<div class="headerInfoImages pull-left">
					<img src="../../public/html/images/newMessage.png" alt="" />
					<!--是否有新消息begin-->
					<img src="../../public/html/images/new-message.jpg" alt="" class="newMessage" />
					<!--是否有新消息end-->
				</div>
				<div class="headerHandName pull-left clearfix">
					<!--头像begin-->
					<div class="headerHand pull-left"><img src="../../public/html/images/hand-image.png" alt="" /></div>
					<!--头像end-->
					<!--姓名begin-->
					<div class="headerNameInfo pull-left">
						<div class="headerNameText">葛二蛋</div>
						<div class="headerhoner">塔湾村扛把子-村长</div>
					</div>
					<!--姓名end-->
					<div class="headerMore pull-left">
						<img src="../../public/html/images/header-down.jpg" alt="" />
					</div>
					<!--设置密码begin-->
					<div class="headerSet">
						<ul>
							等设计出样式
						</ul>
					</div>
					<!--设置密码end-->
				</div>
			</div>
			<!--右侧信息 end-->
		</div>
		<!--头部 end-->
		
		<div class="businessBox margin-bottom-100">
			<div class="businessBox-inner">
				<h1>DIT差旅标准</h1>
				<div class="travelTypeBox">
					<div class="travelType travelType-plane">
						<div class="imageBox">
							<img src="images/travel-plane.jpg"/>
						</div>
						<div class="text">飞机：仅限经济舱</div>
					</div>
					<div class="travelType travelType-train">
						<div class="imageBox">
							<img src="images/travel-train.jpg"/>
						</div>
						<div class="text">火车：高铁（二等座）</div>
						<div class="text">普通列车：（硬座/卧铺）</div>
					</div>
					<div class="travelType travelType-car">
						<div class="imageBox">
							<img src="images/travel-car.jpg"/>
						</div>
						<div class="text">汽车：普通坐席</div>
					</div>
					<div class="travelType travelType-car">
						<div class="imageBox">
							<img src="images/travel-ship.jpg"/>
						</div>
						<div class="text">轮船：二等铺</div>
					</div>
					<div class="travelType travelType-house">
						<div class="imageBox">
							<img src="images/travel-house.jpg"/>
						</div>
						<div class="text">住宿：四星级以下酒店/快捷酒店/</div>
						<div class="text">商务酒店</div>
						<div class="text">标准间/大床房</div>
					</div>
				</div>
				
				<div class="standardBox">
					<h2>旅费标准</h2>
					<table class="travelStandardTable">
						<tr>
							<td rowspan="2" width="158" class="font-weight-bold color3e4855 backgroundEff1f6">旅费标准</td>
							<td colspan="2" width="158" class="font-weight-bold color3e4855">住宿</td>
							<td colspan="2" width="158" class="font-weight-bold color3e4855">餐补</td>
						</tr>
						<tr>
							<td width="158">中层以上</td>
							<td width="158">员工</td>
							<td width="158">中层以上</td>
							<td width="158">员工</td>
						</tr>
						<tr>
							<td width="158" class="font-weight-bold color3e4855 backgroundEff1f6">特殊地区</td>
							<td width="158">中层以上</td>
							<td width="158">员工</td>
							<td width="158">中层以上</td>
							<td width="158">员工</td>
						</tr>
						<tr>
							<td width="158" class="font-weight-bold color3e4855 backgroundEff1f6">其他地区</td>
							<td width="158">中层以上</td>
							<td width="158">员工</td>
							<td width="158">中层以上</td>
							<td width="158">员工</td>
						</tr>
					</table>
					<div class="travelStandardTableTips">注：特殊地区指北京、上海、广州、深圳市、海南省等地区。</div>
					<h2>报销标准</h2>
					<div class="freeStandard">
						<p>1、报销人员把与差旅费相关的所有票据全部粘贴在差旅费报销单的后面，所有票据应该整洁、无涂改、粘贴整齐，报销内容填写正确。不得使用代用票据。</p>
						<p>2 、报销人持《出差审批单》和粘贴、计算完整的报销单据经部门负责人审核后，到财务部由财务人员按公司有关规定进行复核，《出差审批单》粘贴于报销单后面，作为报销的附件。</p>
						<p>3 、持财务人员审核完毕后的有关单据交总经理或分管副总经理审批；</p>
						<p>4、报销人全部审核完毕后到出纳人员进行报销。</p>
					</div>
				</div>
				
			</div>
		</div>

		

		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.bootstrap.min.js"></script>
	</body>

</html>