<title>{{$pageTitle}}</title>

<form method="post" enctype="multipart/form-data">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="act" value="{{$action}}" />

	<input type="text" name="title" placeholder="制度名称" value="{{$i.title}}" /><br />

	{{if $i.attach!=''}}
	<a href="upload/file/rule/{{$i.attach}}" target="_blank">已上传文件</a>
	<input type="hidden" name="oldRule" value="upload/file/rule/{{$i.attach}}">
	{{/if}}
	<input type="file" name="attach[]" value="上传制度文件" /><br />
	
	<input type="text" name="rank" placeholder="显示排序" value="{{$rank}}" /><br />

	<input type="submit" value="保存" />

</form>