<title>{{$pageTitle}}</title>

<form method="post">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="s_company" value="{{$s_company}}" />
	<input type="hidden" name="s_office" value="{{$s_office}}" />
	<input type="hidden" name="s_role" value="{{$s_role}}" />
	<input type="hidden" name="s_post" value="{{$s_post}}" />
	<input type="hidden" name="s_status" value="{{$s_status}}" />
	<input type="hidden" name="s_begintime" value="{{$s_begintime}}" />
	<input type="hidden" name="s_overtime" value="{{$s_overtime}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="s_idno" value="{{$s_idno}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="act" value="editSave" />
	
	<select name="sysRole">
		<option value="0"{{if $s.sysRoleId==0}} selected="true"{{/if}}>系统角色</option>
		{{foreach item=s name=sysRoles from=$sysRoles}}
		<option value="{{$s.sysRoleId}}"{{if $s.sysRoleId==$i.sysRoleId}} selected="true"{{/if}}>{{$s.sysRoleName}}</option>
		{{/foreach}}
	</select><br />

	<select name="checkRole">
		<option value="0">审批角色</option>
		{{foreach item=c name=checkRoles from=$checkRoles}}
		<option value="{{$c.checkRoleId}}"{{if $c.checkRoleId==$i.checkRoleId}} selected="true"{{/if}}>{{$c.checkRoleName}}</option>
		{{/foreach}}
	</select><br />

	<input type="password" name="pwd" placeholder="登录密码" value="" /><br />
	<input type="password" name="enterPwd" placeholder="再次填写登录密码" value="" /><br />
	
	帐号状态：
	{{foreach $status as $key=>$value}}
	<input type="radio" name="status" value="{{$key}}"{{if $key==$i.status}} checked="true"{{/if}}>{{$value}}
	{{/foreach}}<br />

	修改备注：<textarea name="updateRemark" placeholder="请标明调整内容及原因"></textarea>
	
	<input type="submit" value="保存" />

</form>