.retrievalBox{
	height: auto;
}
/*检索*/
.retrievalsForm{
	padding-left: 2%;
}
.retrievalsInputBoxs{
	width: 33.3%;
}
.retrievalsInput{
	margin-bottom: 27px;
	position: relative;
}
.retrievalsInput input{
	width: 210px;
	height: 42px;
	border: 1px solid #e8e8e8;
	padding-left: 10px;
	border-radius: 3px;
	color: #222222;
	font-size: 14px;
	margin-left: 15px;
	background: #fbfbfd;
	line-height: 38px;
}
.retrievalsInput .choseInput{
	cursor: pointer;
	background: url(../images/input-down.jpg) no-repeat 92% 50% #fbfbfd;
}
.retrievalsInput label{
	width: 64px;
	font-weight: 500;
}
.retrievalsInputNavBox{
	display: none;
	position: absolute;
	top: 0;
	left: 79px;
}
.retrievalsInputNav{
	/*position: absolute;
	top: 55px;*/
	/*left: 0;*/
	position: relative;
	background-color: #fff;
	z-index: 10;
	width: 240px;
	box-shadow: 0 0 20px #e9e9e9;
	margin-top: 55px;
	/*display: none;*/
}
.retrievalsInputNav:after{
	content: '';
	display: block;
	position: absolute;
	width: 11px;
	height: 8px;
	background: url(../images/navTop.jpg) no-repeat;
	top: -8px;
	left: 17px;
}
.retrievalsInputNav li{
	height: 45px;
	line-height: 45px;
	font-size: 13px;
	color: #888888;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 13px;
}
.retrievalsInputNav li:hover{
	background-color: #f4f5f9;
}
.retrievalsInput .datepicker{
	width: 156px;
	background: url(../../../public/html/images/data_icon.png) no-repeat 92% 50% #fbfbfd;
}
.retrievalsInputTime{
	width: 418px;
}
.queryButton,.clearButton{
	width: 140px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
.queryButton{
	background-color: #012989;
	margin-right: 15px;
}
.clearButton{
	background-color: #b9bdc6;
}
/*检索end*/
/*表格begin*/
.table1{
	width: 1208px;
}
.table1Fixed{
	width: 18.83%;
}
.tableBox{
	width: 81.20%;
	float: right;
}
.tictable{
	margin-left: 5px;
	cursor: pointer;
}
.soonEnpire{
	color: #e53631;
}
.sortTic {
    position: absolute;
    top: -37px;
    left: -117px;
}
.sortTicL{
	/*right: 7px;*/
	left: 10px;
}
.table1 td{
	position: relative;
}
.sortTic:after{
	display: block;
    content: '';
    width: 11px;
    height: 6px;
    position: absolute;
    left: 147px;
    right: 0;
    margin: 0 auto;
    top: 42px;
    background: url(../images/tdicon.png) no-repeat;
}
.sortTicL:after{
	left: 167px;
}
/*表格end*/

@media (min-width: 1250px) and (max-width: 1730px) {
	.retrievalsInputBoxs {
   	 width: 30.3%;
	}
	.queryButton, .clearButton{
		width: 126px;
	}
	.retrievalsInput .datepicker{
		width: 116px;
	}
	.retrievalsInput input{
		width: 182px;
	}
	.retrievalsInputTime{
		width: 350px;
	}
	.tableBox{
		width: 73%;
	}
	.table1Fixed{
		width: 27.1%;
	}
}

