.popTic{
	display: none;
}

.margin-bottom-40{
	margin-bottom: 40px;
}

.official-assessment-box{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 36px;
	background: #fff;
}

.official-inner{
	width: 93.3%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	padding-bottom: 76px;
}

.official-assessment-h1{
	position: relative;
	font-size: 18px;
	color: #222;
	text-indent: 18px;
	margin: 0;
	margin-bottom: 8px;
}

.official-assessment-h1:after{
	display: block;
	width: 4px;
	height: 18px;
	content: '';
	background: #d71e2d;
	position: absolute;
	left: 0;
	top: 0;
}

.official-assessment-choose-table th{
	height: 54px;
	line-height: 54px;
	font-size: 15px;
	color: #3e4855;
	font-weight: bold;
	background: #eaedf4;
}

.official-assessment-choose-table td{
	height: 54px;
	/*line-height: 54px;*/
	font-size: 14px;
}

.official-assessment-choose-table tr{
	border: 1px solid #ddd;
	border-top: 0;
	
}

.left34{
	position: relative;
	left: 34px;
	display: inline-block;
	width: 100%;
}

@media (min-width: 1250px) and (max-width: 1500px) {
	.left34{
		width: 80%;
	}
}

.radioBox-official-assessment{
	width: 17px;
	height: 17px;
	cursor: pointer;
	
}

.middle-radioBox-official-assessment{
	position: relative;
	left: 28px;
}

.radioBox-official-assessment-normal{
	background: url(../images/radio-normal.png) no-repeat;
}

.radioBox-official-assessment-active{
	background: url(../images/radio-active.png) no-repeat;
}

.totalScoreBox{
	width: 100%;
	height: 54px;
	line-height: 54px;
	text-align: right;
	font-size: 16px;
	color: #222;
	background: #fbfbfd;
	border: 1px solid #ddd;
	border-top: 0;
}

.totalScoreBox2{
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: right;
	font-size: 18px;
	color: #444;
	font-weight: bold;
	background: #fdf3f2;
}

.totalScore,.totalScore2{
	float: right;
	margin-right: 22px;
}

.totalScoreBox .totalScore .score{
	display: inline-block;
	width: 40px;
	text-align: center;
}

.totalScoreBox2 .totalScore2 .score2{
	display: inline-block;
	width: 40px;
	text-align: center;
}

.formBox-official-assessment{
	width: 100%;
	height: auto;
	padding: 33px 0;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 35px;
	
}

.formBox-official-assessment table{
	margin-left: 30px;
}

.formBox-official-assessment table td{
	font-size: 14px;
	color: #222;
	
}

.formBox-official-assessment table td input{
	width: 208px;
	height: 40px;
	background: #fbfbfd;
	border: 1px solid #ddd;
	margin-left: 16px;
	text-indent: 10px;
	border-radius: 3px;
	margin-bottom: 27px;
}

@media (min-width: 1250px) and (max-width: 1500px) {
	.formBox-official-assessment table td input{
		width: 180px;
	}
}

.buttonGroup2-bottom{
	overflow: hidden;
	margin-bottom: 55px;
	margin-top: 32px;
}

.buttonGroup2-bottom div{
	float: left;
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-radius: 3px;
	cursor: pointer;
}

.button-back-bottom{
	background: #d4d9e1;
	font-size: 16px;
	color: #012989;
	margin-right: 28px;
}

.button-feedback-bottom{
	background: #012989;
	color: #fff;
	font-size: 16px;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { 
	color: #aaa; 
} 

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { 
	color: #aaa; 
} 

input::-moz-placeholder,textarea::-moz-placeholder { 
	color: #aaa; 
} 

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #aaa; 
}

.margin-bottom-40{
	margin-bottom: 40px;
}

.contentRightBox{
	background: #f0f1f7;
}

.official-assessment-out-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.official-assessment-navBox{
	width: 100%;
	height: 54px;
	background: #f6f6fa;
	margin: 0;
}

.official-assessment-navBox div{
	width: 150px;
	height: 100%;
	text-align: center;
	float: left;
	line-height: 50px;
	color: #888;
	font-size: 16px;
	border-top: 4px solid #f6f6fa;
	cursor: pointer;
}

.official-assessment-navBox div.active{
	background: #fff;
	color: #474e5d;
	border-color: #012989;
	font-weight: bold;
}

.resultBox{
	padding: 26px 0;
	padding-left: 36px;
	background: #fdf3f2;
	margin-bottom: 40px;
	color: #414345;
}

.font24-td{
	font-size: 24px;
	font-weight: bold;
}

.font24-td span{
	font-size: 32px;
	color: #d71e2d;
	position: relative;
	top: 4px;
}

.font14-td{
	font-size: 14px;
}

.checkWorkTable td{
	width: 154px;
	height: 70px;
	border-right: 1px dashed #ddd;
	text-align: center;
}

.borderRight0{
	border-right: 0px!important;
}

.checkWorkTable .number{
	font-size: 30px;
	color: #5e677b;
	font-weight: bold;
	margin-bottom: 6px;
	text-align: center;
}

.checkWorkTable .numberTips{
	font-size: 14px;
	color: #aaafba;
	text-align: center;
}

.opinion span {
    display: block;
    width: 60px;
    text-align: center;
    position: relative;
    margin-left: 8px;
}

.opinion span.refuse:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: url(../../../public/html/images/jujue.png) no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
}

.opinion span.agree:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: url(../../../public/html/images/tongguo.png) no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
}

.opinion span.nothing:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: url(../../../public/html/images/lizhi.png) no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
}

.popTic{
	display: none;
}

.marginBottom43{
	margin-bottom: 43px;
}

.valueMust{
	color: #e53631;
	font-size: 18px;
}

input::-webkit-input-placeholder {
	color: #aaaaaa;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #aaaaaa;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #aaaaaa;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #aaaaaa;
}

.margin-bottom-40{
	margin-bottom: 40px;
}

.contentRightBox{
	background: #f0f1f7;
}

.official-assessment-out-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.official-assessment-navBox{
	width: 100%;
	height: 54px;
	background: #f6f6fa;
	margin: 0;
}

.official-assessment-navBox div{
	width: 150px;
	height: 100%;
	text-align: center;
	float: left;
	line-height: 54px;
	color: #888;
	font-size: 16px;
	border-top: 4px solid #f6f6fa;
	cursor: pointer;
}

.official-assessment-navBox div.active{
	background: #fff;
	color: #474e5d;
	border-color: #012989;
}

.official-assessment-status{
	width: 100%;
	height: 346px;
	background: #fff;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 57px;
}

.official-assessment-status img{
	display: inline-block;
	margin-bottom: 19px;
}

.statusTips1{
	width: 100%;
	font-weight: bold;
	font-size: 24px;
	color: #000;
	text-align: center;
	margin-bottom: 10px;
}

.statusTips2{
	width: 100%;
	/*font-weight: bold;*/
	font-size: 14px;
	color: #666;
	text-align: center;
	margin-bottom: 10px;
}

.regular{
	background: #e8f4e3;
	color: #7ace4c!important;
	line-height: 28px!important;
	padding-top: 16px;
}

.out{
	color: #d71e2d!important;
	background: #fce8e8!important;
	padding-top: 0;
	line-height: 90px;
}
