/* 
    # 员工基本资料页面
    # Bowen
    # 2018-11-12  
*/


/* 上传头像 */

.formRight {
    padding-top: 25px;
}

.upload {
    width: 90px;
    height: 106px; 
}

.addImg {
    width: 90px;
    height: 106px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.preview,.preBlock{
    position: absolute;
    display: block;
    width: 90px;
    height: 106px;
    left: 0;
    top: 0;
}
.delete {
    width: 30px;
    position: absolute;
    right: -20px;
    top: -15px;
    cursor: pointer;
    display: none;
}
.preBlock img {
    display: block;
    width: 90px;
    height: 106px;
}
.upload_input{
    display: block;
    width: 0;
    height: 0;
    -webkit-opacity: 0.0;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0.0;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0.0;  
    /* IE9 + etc...modern browsers */  
    opacity: .0;  
    /* IE 4-9 */  
    filter:alpha(opacity=0);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); 
}

/* 座机 分机 */

.zoneNumInput {
    width: 60px;
}

.landLineInput {
    width: 100px;
}

.extensionNumInput {
    width: 100px;
}

.formLandlineBox span {
    display: inline-block;
    width: 12px;
    text-align: center;
}


/* 文本域 */
.backgroundInput {
    min-height: 100px;
    padding: 10px;
    line-height: 1.2;
}

.remarkInput {
    min-height: 100px;
    padding:10px;
    line-height: 1.2;
}




@media (min-width: 1200px) and (max-width: 1400px) {
	.contentRightBox{
        padding: 0;
        padding-top: 40px;
    }   
}