<!--
	作者：sxh
	时间：2018-11-12
	描述：员工档案详情
-->
<!DOCTYPE html>
<html>

	<head>
		<title>{{$pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="public/html/css/oa.base.css" />
		<link rel="stylesheet" href="public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.common.css" />
		<link rel="stylesheet" href="humanAffairs/view/css/archives-info.css" />
	</head>

	<body>
		<!--头部 begin-->
		{{include file='public/html/head.html'}}
		<!--头部 end-->

		<!--内容 begin-->
		<div class="container-fluid row">
			<!--内容区左侧导航 begin-->
			{{include file='public/html/menu.html'}}
			<!--内容区左侧导航end-->
			<!--内容区右侧begin-->
			<div class="contentRight col-lg-10 row">
				<!--内容区导航begin-->
				<div class="contentRightNav clearfix">
					<div class="contentRightNavLeft pull-left">
						<div class="contentRightNavTop"><span><a href="index.php?_f=index">首页</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span><a href="?_f=archives{{$track}}">员工档案</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="on">员工档案详情</span></div>
						<div class="contentRightNavBottom"><span class="name">员工档案详情 &nbsp;&nbsp;-&nbsp;&nbsp;{{$i.staffName}}</span><span class="time">创建时间：{{$i.createTime}}</span></div>
					</div>
					
				</div>
				<!--内容区导航end-->
				<!--内容区begin-->
				<div class="contentRightBox">
					<div class="contentRightContent">
						<!--离职申请详情内容 begin-->
						<div class="quitAppleContentBox">
							<div class="apply-step-box margin-bottom-0">
								<h1 class="titleTips">员工档案</h1>
								<div class="stepPart">
									<!--
                                    	作者：xhxhxh
                                    	时间：2018-11-20
                                    	描述：蓝色线的长度---0 24.6% 49% 73.3% 100%
                                    -->
									<div class="stepActiveLine" style="width: 49%;"></div>
									<div class="stepNormalLine"></div>
									<div class="circleFinished position1"><!--完成圆-->
										<div class="stepContentBox">
											<div class="text1 color5783f1">试用期</div>
											<div class="text2">2016-10-20至2016-11-20</div>
										</div>
									</div>
									<div class="circleFinished position2">
										<div class="stepContentBox">
											<div class="text1 color5783f1">转正</div>
											<div class="text2">2016-10-20至2016-11-20</div>
										</div>
									</div>
									<div class="circleActive position3"><!--默认圆-->
										<div class="stepContentBox">
											<div class="text1 color5783f1">合同签订</div>
											<div class="text2">2016-10-20至2016-11-20</div>
										</div>
									</div>
									<div class="circleNormal position4">
										<div class="stepContentBox">
											<div class="text1 color5783f1">离职</div>
										</div>
									</div>
									<div class="circleNormal position6">
										<div class="stepContentBox">
											<div class="text1">DIT与您一起成长</div>
										</div>
									</div>
								</div>
							</div>
							<div class = "staffManageNav">
								<ul class = "clearfix margin-bottom-25">
									<li class="active"><a href="">员工基本资料</a></li>
									<li class = ""><a href="">家庭主要成员</a></li>
									<li class = "width12"><a href="">教育与工作经历</a></li>
									<li><a href="">社保与公积金</a></li>
									<li><a href="">入职信息</a></li>
									<li><a href="">合同信息</a></li>
									<li><a href="">假期信息</a></li>				
									<li><a href="">备品分配</a></li>	
									<li><a href="">资料上传</a></li>
								</ul>
							</div>
							
							<div></div>
							<div class="quitApplyPart1 margin-bottom-165">
								<div class="quitApplyPart1-image">
									<img src="images/user-image1.jpg" />
								</div>
								<ul class="staff-ul1 staff-ul">
									<li>
										<span class="staff-text">真实姓名：</span>
										<span class="staff-info">李大国</span>
									</li>
									<li>
										<span class="staff-text">身份证号：</span>
										<span class="staff-info">20123659863255896252X</span>
									</li>
									<li>
										<span class="staff-text">手机号：</span>
										<span class="staff-info">13478965968</span>
									</li>
									<li>
										<span class="staff-text">毕业院校：</span>
										<span class="staff-info">大连工业大学</span>
									</li>
									<li>
										<span class="staff-text">专业：</span>
										<span class="staff-info">计算机网络运行与维护</span>
									</li>
									<li>
										<span class="staff-text">民族：</span>
										<span class="staff-info">汉族</span>
									</li>
									<li>
										<span class="staff-text">政治面貌：</span>
										<span class="staff-info">团员</span>
									</li>
									<li>
										<span class="staff-text">身高：</span>
										<span class="staff-info">210CM</span>
									</li>
									<li>
										<span class="staff-text">婚姻状况：</span>
										<span class="staff-info">未婚</span>
									</li>
									<li>
										<span class="staff-text">中国银行卡号：</span>
										<span class="staff-info">956595659865956</span>
									</li>
									<li>
										<span class="staff-text">公交线路单程车费：</span>
										<span class="staff-info">2元</span>
									</li>
									<li>
										<span class="staff-text">微信激活：</span>
										<span class="staff-info">已激活</span>
									</li>
									
								</ul>
								
								<ul class="staff-ul2 staff-ul">
									<li>
										<span class="staff-text">性别：</span>
										<span class="staff-info">男</span>
									</li>
									<li>
										<span class="staff-text">出生日期：</span>
										<span class="staff-info">1992年02月10日</span>
									</li>
									<li>
										<span class="staff-text">联系地址：</span>
										<span class="staff-info">辽宁省大连市沙河口区星海佳时科技园A座309室</span>
									</li>
									<li>
										<span class="staff-text">学历：</span>
										<span class="staff-info">本科</span>
									</li>
									<li>
										<span class="staff-text">户口所在地：</span>
										<span class="staff-info">吉林省四平市小庄镇</span>
									</li>
									<li>
										<span class="staff-text">户口性质：</span>
										<span class="staff-info">农业户口</span>
									</li>
									<li>
										<span class="staff-text">血型：</span>
										<span class="staff-info">R型</span>
									</li>
									<li>
										<span class="staff-text">体重：</span>
										<span class="staff-info">66KG</span>
									</li>
									<li>
										<span class="staff-text">首次参加工作时间：</span>
										<span class="staff-info">2015年5月12日</span>
									</li>
									<li>
										<span class="staff-text">原单位解除合同日：</span>
										<span class="staff-info">2018年5月12日</span>
									</li>
									<li>
										<span class="staff-text">背景调查：</span>
										<span class="staff-info">一名非常优秀的员工</span>
									</li>
									<li>
										<span class="staff-text">激活时间：</span>
										<span class="staff-info">2018-10-09 08:46</span>
									</li>
								</ul>
								
							</div>

						</div>
						<!--离职申请详情内容 End-->
					</div>
				</div>
				<!--内容区end-->
			</div>
			<!--内容区右侧end-->
		</div>

		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js" ></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="public/html/js/oa.common.js" ></script>
		<script type="text/javascript" src="humanAffairs/view/js/archives-info.js" ></script>
	</body>

</html>