<title>{{$pageTitle}}</title>

<form method="post">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="s_company" value="{{$s_company}}" />
	<input type="hidden" name="s_office" value="{{$s_office}}" />
	<input type="hidden" name="s_post" value="{{$s_post}}" />
	<input type="hidden" name="s_status" value="{{$s_status}}" />
	<input type="hidden" name="s_begintime" value="{{$s_begintime}}" />
	<input type="hidden" name="s_overtime" value="{{$s_overtime}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="nav" value="{{$nav}}" />
	<input type="hidden" name="s_category" value="{{$s_category}}" />

	{{foreach item=i name=data from=$data}}
	{{$i.typeName}}：{{$i.dayNumber}}天

	{{if $i.annualLeave == 1}}
	&nbsp;&nbsp;剩余天数：<span style="color:#ce0000;">待计算</span>
	{{/if}}

	<br />
	{{/foreach}}


</form>