<meta charset="utf-8" />
<title>{{$pageTitle}}</title>

<form method="get">
	<input type="hidden" name="_f" value="certificate">
	<select name="s_company">
		<option value=""{{if $s_company==0}} selected=true{{/if}}>所属部门</option>
		{{foreach item=c name=company from=$company}}
		<option value="{{$c.companyId}}"{{if $s_company==$c.companyId}} selected=true{{/if}}>{{$c.cnName}}</option>
		{{/foreach}}
	</select>
	<input type="text" name="s_name" value="{{$s_name}}" placeholder="申请人">
	<input type="submit" value="检索">
</form>

<table border="1">
	<tr>
		<td>#</td>
		<td>企业名称</td>
		<td>证件名称</td>
		<td>创建时间</td>
		<td>操作</td>
	</tr>
	{{foreach item=i name=data from=$data}}
	<tr>
		<td>{{$i.sn}}</td>
		<td>{{$i.company}}</td>
		<td>{{$i.cerName}}</td>
		<td>{{$i.createTime}}</td>
		<td>
			<a href="upload/file/cer/{{$i.cerImg}}" target="_blank">查看</a>
		</td>
	</tr>
	{{/foreach}}
</table>
<div class="pagebox">
	{{$page}}
</div>