<title>{{$pageTitle}}</title>

申请人照片：<img src="{{$i.photo}}" /><br />
申请人：{{$i.staffName}}<br />
试用期：{{$i.try}}<br />
所属部门：{{$i.office}}<br />
所属工作组：{{$i.group}}<br />
状态：{{$i.status}}<br /><br />

转正考核：<br />
审批进度轴：<br />
<table border="1">
	<tr>
		<td>角色</td>
		<td>人员</td>
		<td>状态</td>
		<td>时间</td>
	</tr>
	{{foreach item=p name=process from=$process}}
	<tr>
		<td>{{$p.role}}</td>
		<td>{{$p.staff}}</td>
		<td>{{$p.result}}</td>
		<td>{{$p.time}}</td>
	</tr>
	{{/foreach}}
</table>

<br /><br />
{{if $i.checkStatus == 2}}
考核结果：<br />
正式录用：恭喜 {{$i.staffName}}  通过转正考核，欢迎加入DIT大家庭 “工作认真负责，欢迎你的加入”。
不再录用： {{$i.staffName}}，很遗憾通知您，您没有通过公司的考核，离职日期为{{$i.quitDate}}。
延长试用期： {{$i.staffName}}，根据你试用期的表现，公司经再三考虑，决定延长试用期至{{$i.tryOverDate}}，请继续努力，加油！
<br /><br />
{{/if}}
员工转正考核表：<br />

考核结果：{{$i.scoreLevel}}（考核标准：A.136分以上    B.136分-110分    C.110分-84分    D.84分以下）
总得分：{{$i.score}}分<br /><br />

个人品德<br />
<table border="1">
	<tr>
		<td>考核内容</td>
		<td>优（10分）</td>
		<td>良（8分）</td>
		<td>中（6分）</td>
		<td>可（4分）</td>
		<td>差（2分）</td>
	</tr>
	<tr>
		<td>人际关系</td>
		<td><input type="radio" name="rjgx" value="10" {{if $i.rjgx == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="rjgx" value="8" {{if $i.rjgx == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="rjgx" value="6" {{if $i.rjgx == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="rjgx" value="4" {{if $i.rjgx == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="rjgx" value="2" {{if $i.rjgx == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>协作性</td>
		<td><input type="radio" name="xzx" value="10" {{if $i.xzx == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xzx" value="8" {{if $i.xzx == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xzx" value="6" {{if $i.xzx == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xzx" value="4" {{if $i.xzx == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xzx" value="2" {{if $i.xzx == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>个人修养</td>
		<td><input type="radio" name="grxy" value="10" {{if $i.grxy == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="grxy" value="8" {{if $i.grxy == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="grxy" value="6" {{if $i.grxy == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="grxy" value="4" {{if $i.grxy == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="grxy" value="2" {{if $i.grxy == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
</table>
<div style="text-align:right;">得分： {{$i.moralityScore}} 分</div>
<br /><br />
勤务态度<br />
<table border="1">
	<tr>
		<td>考核内容</td>
		<td>优（10分）</td>
		<td>良（8分）</td>
		<td>中（6分）</td>
		<td>可（4分）</td>
		<td>差（2分）</td>
	</tr>
	<tr>
		<td>严格遵守工作制度，有效利用工作时间</td>
		<td><input type="radio" name="xiaolv" value="10" {{if $i.xiaolv == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xiaolv" value="8" {{if $i.xiaolv == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xiaolv" value="6" {{if $i.xiaolv == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xiaolv" value="4" {{if $i.xiaolv == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="xiaolv" value="2" {{if $i.xiaolv == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>对新工作持积极态度</td>
		<td><input type="radio" name="taidu" value="10" {{if $i.taidu == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="taidu" value="8" {{if $i.taidu == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="taidu" value="6" {{if $i.taidu == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="taidu" value="4" {{if $i.taidu == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="taidu" value="2" {{if $i.taidu == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>忠于职守，坚守岗位</td>
		<td><input type="radio" name="zyzs" value="10" {{if $i.zyzs == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zyzs" value="8" {{if $i.zyzs == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zyzs" value="6" {{if $i.zyzs == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zyzs" value="4" {{if $i.zyzs == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zyzs" value="2" {{if $i.zyzs == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
</table>
<div style="text-align:right;">得分：  {{$i.attitudeScore}} 分</div>
<br /><br />
业务能力<br />
<table border="1">
	<tr>
		<td>考核内容</td>
		<td>优（10分）</td>
		<td>良（8分）</td>
		<td>中（6分）</td>
		<td>可（4分）</td>
		<td>差（2分）</td>
	</tr>
	<tr>
		<td>以主人公精神与同事同心协力努力工作</td>
		<td><input type="radio" name="zrg" value="10" {{if $i.zrg == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zrg" value="8" {{if $i.zrg == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zrg" value="6" {{if $i.zrg == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zrg" value="4" {{if $i.zrg == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zrg" value="2" {{if $i.zrg == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>正确认识工作目的，正确处理业务</td>
		<td><input type="radio" name="mudi" value="10" {{if $i.mudi == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="mudi" value="8" {{if $i.mudi == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="mudi" value="6" {{if $i.mudi == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="mudi" value="4" {{if $i.mudi == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="mudi" value="2" {{if $i.mudi == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>不打乱工作秩序，不妨碍他人工作</td>
		<td><input type="radio" name="shunxu" value="10" {{if $i.shunxu == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shunxu" value="8" {{if $i.shunxu == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shunxu" value="6" {{if $i.shunxu == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shunxu" value="4" {{if $i.shunxu == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shunxu" value="2" {{if $i.shunxu == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
</table><div style="text-align:right;">得分： {{$i.businessScore}} 分</div>

<br /><br />
工作效率<br />
<table border="1">
	<tr>
		<td>考核内容</td>
		<td>优（10分）</td>
		<td>良（8分）</td>
		<td>中（6分）</td>
		<td>可（4分）</td>
		<td>差（2分）</td>
	</tr>
	<tr>
		<td>工作速度快，不误工期</td>
		<td><input type="radio" name="speed" value="10" {{if $i.speed == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="speed" value="8" {{if $i.speed == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="speed" value="6" {{if $i.speed == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="speed" value="4" {{if $i.speed == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="speed" value="2" {{if $i.speed == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>业务处置得当，经常保持良好成绩</td>
		<td><input type="radio" name="chengji" value="10" {{if $i.chengji == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="chengji" value="8"  {{if $i.chengji == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="chengji" value="6"  {{if $i.chengji == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="chengji" value="4"  {{if $i.chengji == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="chengji" value="2"  {{if $i.chengji == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>工作方法合理，时间和经费的使用十分有效</td>
		<td><input type="radio" name="heli" value="10" {{if $i.heli == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="heli" value="8" {{if $i.heli == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="heli" value="6" {{if $i.heli == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="heli" value="4" {{if $i.heli == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="heli" value="2" {{if $i.heli == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>工作中没有半途而废，不了了之和造成后遗症的现象</td>
		<td><input type="radio" name="btef" value="10" {{if $i.btef == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="btef" value="8" {{if $i.btef == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="btef" value="6" {{if $i.btef == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="btef" value="4" {{if $i.btef == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="btef" value="2" {{if $i.btef == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
</table>
<div style="text-align:right;">得分： {{$i.efficiencyScore}} 分</div>
<br /><br />
业绩<br />
<table border="1">
	<tr>
		<td>考核内容</td>
		<td>优（10分）</td>
		<td>良（8分）</td>
		<td>中（6分）</td>
		<td>可（4分）</td>
		<td>差（2分）</td>
	</tr>
	<tr>
		<td>工作成果达到预期目的或计划要求</td>
		<td><input type="radio" name="yaoqiu" value="10" {{if $i.zongjie == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="yaoqiu" value="8" {{if $i.zongjie == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="yaoqiu" value="6" {{if $i.zongjie == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="yaoqiu" value="4" {{if $i.zongjie == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="yaoqiu" value="2" {{if $i.zongjie == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>工作总结和汇报准确真实</td>
		<td><input type="radio" name="zongjie" value="10" {{if $i.zongjie == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zongjie" value="8" {{if $i.zongjie == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zongjie" value="6" {{if $i.zongjie == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zongjie" value="4" {{if $i.zongjie == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="zongjie" value="2"{{if $i.zongjie == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
	<tr>
		<td>工作中熟练程度和技能提高较快</td>
		<td><input type="radio" name="shulian" value="10" {{if $i.shulian == 10}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shulian" value="8" {{if $i.shulian == 8}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shulian" value="6" {{if $i.shulian == 6}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shulian" value="4" {{if $i.shulian == 4}}checked=true{{/if}} disabled="true"/></td>
		<td><input type="radio" name="shulian" value="2" {{if $i.shulian == 2}}checked=true{{/if}} disabled="true"/></td>
	</tr>
</table>
<div style="text-align:right;">得分： {{$i.achievementScore}} 分</div>
<br /><br />
考勤情况：<br />
迟到：<input type="text" name="cidao" value="{{$i.late}}" readonly="true" />次&nbsp;早退：<input type="text" name="zaotui" value="{{$i.earlyRetreat}}" readonly="true"/>次&nbsp;<br />
病假：<input type="text" name="bingjia" value="{{$i.sickLeave}}" readonly="true"/>天&nbsp;事假：<input type="text" name="shijia" value="{{$i.eventLeave}}" />天&nbsp;旷工：<input type="text" name="kuanggong"value="{{$i.absenteeism}}" readonly="true"/>天<br />
{{if count($check)>0}}
审批记录表格：<br />
<table border="1">
	<tr>
		<td>审批级别</td>
		<td>审批角色</td>
		<td>审批状态</td>
		<td>审批意见</td>
		<td>审批人</td>
		<td>审批时间</td>
	</tr>
	{{foreach item=c name=check from=$check}}
	<tr>
		<td>{{$c.checkLevel}}</td>
		<td>{{$c.role}}</td>
		<td>{{$c.result}}</td>
		<td>{{$c.remark}}</td>
		<td>{{$c.checkUsr}}</td>
		<td>{{$c.checkTime}}</td>
	</tr>
	{{/foreach}}
</table>
{{/if}}