<!--
	作者：sxh
	时间：2018-11-26
	描述：转正考核
-->
<!DOCTYPE html>
<html>

	<head>
		<title>转正考核</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="public/html/css/oa.base.css" />
		<link rel="stylesheet" href="public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.common.css" />
		<link rel="stylesheet" href="humanAffairs/view/css/employ-check-set.css" />
	</head>

	<body>
		<!--头部 begin-->
		{{include file='public/html/head.html'}}
		<!--头部 end-->

		<!--内容 begin-->
		<div class="container-fluid row">
			<!--内容区左侧导航 begin-->
			{{include file='public/html/menu.html'}}
			<!--内容区左侧导航end-->
			<!--内容区右侧begin-->
			<div class="contentRight col-lg-10 row">
				<!--内容区导航begin-->
				<div class="contentRightNav clearfix">
					<div class="contentRightNavLeft pull-left">
						<div class="contentRightNavTop"><span><a href="index.php?_f=index">首页</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span><a href="?_f=employ-check{{$track}}">转正考核</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="on">评价考核</span></div>
					</div>
				</div>
				<!--内容区导航end-->
				<!--内容区begin-->
				<div class="contentRightBox">
					<div class="contentRightContent">
						<!--离职申请详情内容 begin-->
						<div class="quitAppleContentBox">
							<div class="quitApplyPart1 margin-bottom-40">
								<div class="quitApplyPart1-image">
									<img src="{{$i.photo}}" />
								</div>
								<div class="quitApplyMeaasge1">
									<div class="rowQuit">
										<div class="lable">申请人：</div>
										<div class="message">{{$i.staffName}}</div>
									</div>
									<div class="rowQuit">
										<div class="lable">所属部门：</div>
										<div class="message">{{$i.office}}</div>
									</div>
								</div>
								<div class="quitApplyMeaasge1 border-right-none">
									<div class="rowQuit">
										<div class="lable">试用期：</div>
										<div class="message">{{$i.try}}</div>
									</div>
									<div class="rowQuit">
										<div class="lable">所属工作组：</div>
										<div class="message">{{$i.group}}</div>
									</div>
								</div>
							</div>
							
							<div class="official-assessment-box">
								<div class="official-inner">
									<form id="checkForm" method="post" class="scoreForm">
									<input type="hidden" name="page" value="{{$page}}" />
									<input type="hidden" name="s_company" value="{{$s_company}}" />
									<input type="hidden" name="s_office" value="{{$s_office}}" />
									<input type="hidden" name="s_name" value="{{$s_name}}" />
									<input type="hidden" name="id" value="{{$id}}" />
									<input type="hidden" name="s" value="{{$s}}" />
									<input type="hidden" name="act" value="save" />

									<h1 class="official-assessment-h1">个人品德</h1>
									<div class="tableBox">
										<table class="official-assessment-choose-table">
											<thead>
												<th width="424" ><span class="left34">考核内容</span></th>
												<th width="195">优（10分）</th>
												<th width="195">良（8分）</th>
												<th width="195">中（6分）</th>
												<th width="193">可（4分）</th>
												<th width="195">差（2分）</th>
											</thead>
											<tbody>
												<tr>
													<input type="hidden" name="rjgx" value="{{$i.rjgx}}" class="scoreInput" />
													<td><span class="left34">人际关系</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.rjgx==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.rjgx==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.rjgx==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.rjgx==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.rjgx==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="xzx" value="{{$i.xzx}}" class="scoreInput"  />
													<td><span class="left34">协作性</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xzx==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xzx==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xzx==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xzx==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xzx==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="grxy" value="{{$i.grxy}}" class="scoreInput"  />
													<td><span class="left34">个人修养</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.grxy==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.grxy==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.grxy==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.grxy==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.grxy==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="totalScoreBox">
											<div class="totalScore">
												<span>得分：</span>
												<span class="score scoreRed">{{$i.moralityScore}}</span>
												<span>分</span>
											</div>
										</div>
									</div>
									
									<h1 class="official-assessment-h1">勤务态度</h1>
									<div class="tableBox">
										<table class="official-assessment-choose-table">
											<thead>
												<th width="424" ><span class="left34">考核内容</span></th>
												<th width="195">优（10分）</th>
												<th width="195">良（8分）</th>
												<th width="195">中（6分）</th>
												<th width="193">可（4分）</th>
												<th width="195">差（2分）</th>
											</thead>
											<tbody>
												<tr>
													<input type="hidden" name="xiaolv" value="{{$i.xiaolv}}" class="scoreInput" />
													<td><span class="left34">严格遵守工作制度，有效利用工作时间</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xiaolv==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xiaolv==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xiaolv==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xiaolv==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.xiaolv==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="taidu" value="{{$i.taidu}}" class="scoreInput"  />
													<td><span class="left34">对新工作持积极态度</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.taidu==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.taidu==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.taidu==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.taidu==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.taidu==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="zyzs" value="{{$i.zyzs}}" class="scoreInput"  />
													<td><span class="left34">忠于职守，坚守岗位</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zyzs==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zyzs==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zyzs==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zyzs==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zyzs==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="totalScoreBox">
											<div class="totalScore">
												<span>得分：</span>
												<span class="score scoreRed">{{$i.attitudeScore}}</span>
												<span>分</span>
											</div>
										</div>
									</div>
									
									
									<h1 class="official-assessment-h1">业务能力</h1>
									<div class="tableBox">
										<table class="official-assessment-choose-table">
											<thead>
												<th width="424" ><span class="left34">考核内容</span></th>
												<th width="195">优（10分）</th>
												<th width="195">良（8分）</th>
												<th width="195">中（6分）</th>
												<th width="193">可（4分）</th>
												<th width="195">差（2分）</th>
											</thead>
											<tbody>
												<tr>
													<input type="hidden" name="zrg" value="{{$i.zrg}}" class="scoreInput" />
													<td><span class="left34">以主人公精神与同事同心协力努力工作</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zrg==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zrg==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zrg==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zrg==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zrg==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="mudi" value="{{$i.mudi}}" class="scoreInput"  />
													<td><span class="left34">正确认识工作目的，正确处理业务</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.mudi==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.mudi==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.mudi==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.mudi==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.mudi==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="shunxu" value="{{$i.shunxu}}" class="scoreInput"  />
													<td><span class="left34">不打乱工作秩序，不妨碍他人工作</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shunxu==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shunxu==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shunxu==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shunxu==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shunxu==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="totalScoreBox">
											<div class="totalScore">
												<span>得分：</span>
												<span class="score scoreRed">{{$i.businessScore}}</span>
												<span>分</span>
											</div>
										</div>
									</div>
									
									
									<h1 class="official-assessment-h1">工作效率</h1>
									<div class="tableBox">
										<table class="official-assessment-choose-table">
											<thead>
												<th width="424" ><span class="left34">考核内容</span></th>
												<th width="195">优（10分）</th>
												<th width="195">良（8分）</th>
												<th width="195">中（6分）</th>
												<th width="193">可（4分）</th>
												<th width="195">差（2分）</th>
											</thead>
											<tbody>
												<tr>
													<input type="hidden" name="speed" value="{{$i.speed}}" class="scoreInput" />
													<td><span class="left34">工作速度快，不误工期</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.speed==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.speed==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.speed==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.speed==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.speed==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="chengji" value="{{$i.chengji}}" class="scoreInput"  />
													<td><span class="left34">业务处置得当，经常保持良好成绩</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.chengji==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.chengji==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.chengji==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.chengji==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.chengji==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="heli" value="{{$i.heli}}" class="scoreInput"  />
													<td><span class="left34">工作方法合理，时间和经费的使用十分有效</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.heli==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.heli==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.heli==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.heli==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.heli==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="btef" value="{{$i.btef}}" class="scoreInput" />
													<td><span class="left34">工作中没有半途而废，不了了之和造成后遗症的现象</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.btef==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.btef==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.btef==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.btef==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.btef==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="totalScoreBox">
											<div class="totalScore">
												<span>得分：</span>
												<span class="score scoreRed">{{$i.efficiencyScore}}</span>
												<span>分</span>
											</div>
										</div>
									</div>
									
									<h1 class="official-assessment-h1">业绩</h1>
									
									<div class="tableBox">
										
										<table class="official-assessment-choose-table">
											<thead>
												<th width="424" ><span class="left34">考核内容</span></th>
												<th width="195">优（10分）</th>
												<th width="195">良（8分）</th>
												<th width="195">中（6分）</th>
												<th width="193">可（4分）</th>
												<th width="195">差（2分）</th>
											</thead>
											<tbody>
												<tr>
													<input type="hidden" name="yaoqiu" value="{{$i.yaoqiu}}" class="scoreInput" />
													<td><span class="left34">工作成果达到预期目的或计划要求</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.yaoqiu==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
														
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.yaoqiu==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.yaoqiu==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.yaoqiu==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.yaoqiu==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="zongjie" value="{{$i.zongjie}}" class="scoreInput" />
													<td><span class="left34">工作总结和汇报准确真实</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zongjie==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zongjie==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zongjie==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zongjie==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.zongjie==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
												<tr>
													<input type="hidden" name="shulian" value="{{$i.shulian}}" class="scoreInput"/>
													<td><span class="left34">工作中熟练程度和技能提高较快</span></td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shulian==10}} radioBox-official-assessment-active{{/if}}" data-score="10"></div>
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shulian==8}} radioBox-official-assessment-active{{/if}}" data-score="8">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shulian==6}} radioBox-official-assessment-active{{/if}}" data-score="6">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shulian==4}} radioBox-official-assessment-active{{/if}}" data-score="4">
													</td>
													<td>
														<div class="radioBox-official-assessment radioBox-official-assessment-normal middle-radioBox-official-assessment{{if $i.shulian==2}} radioBox-official-assessment-active{{/if}}" data-score="2">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="totalScoreBox">
											<div class="totalScore">
												<span>得分：</span>
												<span class="score scoreRed">{{$i.achievementScore}}</span>
												<span>分</span>
											</div>
										</div>
									</div>
									
									<h1 class="official-assessment-h1">考勤情况</h1>
									<div class="formBox-official-assessment">
										
											<table class="table-official-assessment">
												<tr>
													<td width="430">
														<span>迟到</span>
														<input name="cidao" value="{{$i.late}}" placeholder="请输入" class="late inputPlaceholder" />
														<span>次</span>
													</td>
													<td width="430">
														<span>早退</span>
														<input name="zaotui" value="{{$i.earlyRetreat}}" placeholder="请输入" class="early inputPlaceholder" />
														<span>次</span>
													</td>
													<td width="430"></td>
												</tr>
												<tr>
													<td width="430">
														<span>病假</span>
														<input name="bingjia" value="{{$i.sickLeave}}" placeholder="请输入" class="sickLeave inputPlaceholder" />
														<span>天</span>
													</td>
													<td width="430">
														<span>事假</span>
														<input name="shijia" value="{{$i.eventLeave}}" placeholder="请输入" class="compassionateLeave inputPlaceholder" />
														<span>天</span>
													</td>
													<td>
														<span>旷工</span>
														<input name="kuanggong" value="{{$i.absenteeism}}" placeholder="请输入" class="absenteeism inputPlaceholder" />
														<span>天</span>
													</td>
												</tr>
											</table>
											<input type="hidden" name="zdf" value="{{$i.score}}" class="totalScoreValue" />
									</div>
									</form>
									
									<div class="totalScoreBox2">
										<div class="totalScore2">
											<span>总得分：</span>
											<span class="score2 scoreRed">{{$i.score}}</span>
											<span>分</span>
										</div>
									</div>
									
									
								</div>
								
							</div>
							<div class="buttonGroup2-bottom">
								<div class="button-feedback-bottom button-submit-bottom">提交反馈</div>
								<div class="button-back-bottom">返回</div>
							</div>
							
						</div>
						<!--离职申请详情内容 End-->
					</div>
				</div>
				<!--内容区end-->
			</div>
			<!--内容区右侧end-->
		</div>

		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="public/html/js/oa.common.js" ></script>
		<script type="text/javascript" src="public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js" ></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.placeholder.min.js" ></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="public/html/js/jquery.form.min.js" ></script>
		<script type="text/javascript" src="humanAffairs/view/js/employ-check-set.js" ></script>
	</body>

</html>