<meta charset="utf-8" />
<title>{{$pageTitle}}</title>

<form method="get">
	<input type="hidden" name="_f" value="staff">
	<select name="s_company">
		<option value=""{{if $s_company==0}} selected=true{{/if}}>所属公司</option>
		{{foreach item=c name=company from=$company}}
		<option value="{{$c.companyId}}"{{if $s_company==$c.companyId}} selected=true{{/if}}>{{$c.cnName}}</option>
		{{/foreach}}
	</select>
	<select name="s_office">
		<option value=""{{if $s_office==0}} selected=true{{/if}}>所属部门</option>
		{{foreach item=o name=office from=$office}}
		<option value="{{$o.officeId}}"{{if $s_office==$o.officeId}} selected=true{{/if}}>{{$o.officeName}}</option>
		{{/foreach}}
	</select>
	<select name="s_role">
		<option value=""{{if $s_role==0}} selected=true{{/if}}>系统角色</option>
		{{foreach item=r name=role from=$role}}
		<option value="{{$r.sysRoleId}}"{{if $s_role==$r.sysRoleId}} selected=true{{/if}}>{{$r.sysRoleName}}</option>
		{{/foreach}}
	</select>
	<select name="s_post">
		<option value=""{{if $s_post==0}} selected=true{{/if}}>职务</option>
		{{foreach item=p name=post from=$post}}
		<option value="{{$p.postId}}"{{if $s_post==$p.postId}} selected=true{{/if}}>{{$p.postName}}</option>
		{{/foreach}}
	</select>
	<select name="s_status">
		<option value=""{{if $s_status==""}} selected="true"{{/if}}>状态</option>
		{{foreach $status as $key=>$value}}
		<option value="{{$key}}"{{if $key==$s_status}} selected="true"{{/if}}>{{$value}}</option>
		{{/foreach}}
	</select>
	<input type="text" name="s_begintime" value="{{$s_begintime}}" placeholder="合同到期开始日期">
	<input type="text" name="s_overtime" value="{{$s_overtime}}" placeholder="合同到期截止日期">
	<input type="text" name="s_name" value="{{$s_name}}" placeholder="真实姓名">
	<input type="text" name="s_idno" value="{{$s_idno}}" placeholder="身份证号">
	<input type="submit" value="检索">
</form>

<table border="1">
	<tr>
		<td>#</td>
		<td>系统角色</td>
		<td>真实姓名</td>
		<td>性别</td>
		<td>所属企业</td>
		<td>所属部门</td>
		<td>职务</td>
		<td>身份证号</td>
		<td>手机号码</td>
		<td>座机</td>
		<td>合同期间</td>
		<td>创建时间</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
	{{foreach item=i name=data from=$data}}
	<tr>
		<td>{{$i.sn}}</td>
		<td>{{$i.role}}</td>
		<td>{{$i.staffName}}</td>
		<td>{{$i.sex}}</td>
		<td>{{$i.company}}</td>
		<td>{{$i.office}}</td>
		<td>{{$i.post}}</td>
		<td>{{$i.idNumber}}</td>
		<td>{{$i.tel}}</td>
		<td>{{$i.phone}}</td>
		<td>{{$i.contract}}</td>
		<td>{{$i.createTime}}</td>
		<td>{{$i.status}}</td>
		<td>
			<a href="?_f=staff&act=remove&page={{$curPage}}&id={{$i.staffId}}{{$track}}">删除</a>
			<a href="?_f=staff-info-set&act=edit&page={{$curPage}}&id={{$i.staffId}}{{$track}}">修改</a>
		</td>
	</tr>
	{{/foreach}}
	
</table>
<div class="pagebox">
	{{$page}}
</div>