<!DOCTYPE html>
<html>

	<head>
		<title>{{$pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="public/html/css/oa.base.css" />
		<link rel="stylesheet" href="public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.jquery-ui.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.jquery.multiselect.css" />
		<link rel="stylesheet" href="public/html/css/oa.common.css" />
		<link rel="stylesheet" href="humanAffairs/view/css/staff.css" />
	</head>

	<body>
		<!--头部 begin-->
		{{include file='public/html/head.html'}}
		<!--头部 end-->

		<!--内容 begin-->
		<div class="container-fluid row">
			<!--内容区左侧导航 begin-->
			{{include file='public/html/menu.html'}}
			<!--内容区左侧导航end-->
			<!--内容区右侧begin-->
			<div class="contentRight col-lg-10 row">
				<!--内容区导航begin-->
				<div class="contentRightNav clearfix">
					<div class="contentRightNavLeft pull-left">
						<div class="contentRightNavTop"><span><a href="index.php?_f=index">首页</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="on">员工管理</span></div>
						<div class="contentRightNavBottom"><span class="name">员工管理</span><span class="time"></span></div>
					</div>
				</div>
				<!--内容区导航end-->
				<!--内容区begin-->
				<div class="contentRightBox">
					<div class="contentRightContent">
						<!--检索begin-->
						<div class="retrievalBox">
							<div class="retrievalTitle">快速检索</div>
							<div class="retrievalsForm">
								<form id="searchForm" method="post" class="clearfix">
									<input type="hidden" name="_f" value="staff">
									<div class="retrievalsInputBoxs  clearfix pull-left">
										<div class="retrievalsInputContent">
											<div class="retrievalsInput">
												<label>所属企业</label>
												<input type="text" unselectable="on" onfocus="this.blur()" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputQy" placeholder="请选择" name="s_company" value="" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach item=c name=company from=$company}}
														<li data-type = "{{$c.companyId}}">{{$c.cnName}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="{{$s_company}}" autocomplete="off" data-type="1">
													</ul>
												</div>
											</div>
											<div class="retrievalsInput">
												<label>员工职务</label>
												<input type="text" unselectable="on" onfocus="this.blur()" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputZw" placeholder="请选择" name="s_post" value="" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach item=p name=post from=$post}}
														<li data-type = "{{$p.postId}}">{{$p.postName}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="{{$s_post}}" autocomplete="off" data-type="1">
													</ul>
												</div>
											</div>
											<div class="retrievalsInput">
												<label>真实姓名</label>
												<input type="text" placeholder="请输入" name="s_name" value="{{$s_name}}" class="choseInputName" data-type='0' />
											</div>
										</div>
									</div>
									<div class="retrievalsInputBoxs clearfix pull-left">
										<div class="retrievalsInputContent">
											<div class="retrievalsInput">
												<label>所属部门</label>
												<input type="text" unselectable="on" onfocus="this.blur()" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputBm" placeholder="请选择" name="s_office" value="" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach item=o name=office from=$office}}
														<li data-type = "{{$o.officeId}}">{{$o.officeName}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="{{$s_office}}" autocomplete="off" data-type="1">
													</ul>
												</div>
											</div>
											<div class="retrievalsInput">
												<label>状态</label>
												<input type="text" unselectable="on" onfocus="this.blur()" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputZt" placeholder="请选择" name="s_status" value="" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach $status as $key=>$value}}
														<li data-type = "{{$key}}">{{$value}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="{{$s_status}}" autocomplete="off" data-type="1">
													</ul>
												</div>
											</div>
											<div class="retrievalsInput">
												<label>身份证号</label>
												<input type="text" placeholder="请输入" name="s_idno" value="{{$s_idno}}" class="choseInputNum" data-type='0' />
											</div>
										</div>
									</div>
									<div class="retrievalsInputBoxs clearfix pull-left">
										<div class="retrievalsInputContent">
											<div class="retrievalsInput">
												<label>系统角色</label>
												<input type="text" unselectable="on" onfocus="this.blur()" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputJs" placeholder="请选择" name="s_role" value="" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach item=r name=role from=$role}}
														<li data-type = "{{$r.sysRoleId}}">{{$r.sysRoleName}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="{{$s_role}}" autocomplete="off" data-type="1">
													</ul>
												</div>
											</div>
											<div class="retrievalsInput retrievalsInputTime">
												<label>合同时间</label>
												<input type="text" class="datepicker startForm" placeholder="开始日期" name="s_begintime" value="{{$s_begintime}}" data-type='0' />
												<input type="text" class="datepicker endForm" placeholder="结束日期" name="s_begintime" value="{{$s_begintime}}" data-type='0' />
											</div>
											<!--查询清空begin-->
											<div class="retrievalsInput clearfix">
												<a href="javascript:void(0);" onclick="document.getElementById('searchForm').submit();"><div class="queryButton pull-left">查询</div></a>
												<div class="clearButton pull-left">清空</div>
											</div>
											<!--查询清空end-->
										</div>
									</div>
									
								</form>
							</div>
						</div>
						<!--检索end-->
						<!--新增 导出数据按钮 begin-->
						<div class="downloadAddButtonBox clearfix">
							<a href="?_f=staff-information&act=add"><div class="downloadAddButton downloadAddButtonL pull-left">新增</div></a>
							<!-- <a href="">
								<div class="downloadAddButton downloadAddButtonR pull-left">导出数据</div>
							</a> -->
						</div>
						<!--新增 导出数据按钮 end-->
						<!--表格begin-->
						<div class="clearfix tableBoxFather">
							<table class="table1 table1Fixed">
								<tr>
									<th width='133' class="text-center"><span>操作</span></th>
									<th width='85' class=""><span>系统角色</span></th>
									<th width='85' class=""><span>真实姓名</span></th>
								</tr>
								{{foreach item=i name=data from=$data}}
								<tr{{if $i%2==1}} class="backgroundFFF"{{/if}}}>
									<td class="borderRight1">
										<div class="editBox center-block clearfix">
											<div class="editButton editButtonL pull-left text-center">
												<a href="?_f=staff-information&act=edit&page={{$curPage}}&id={{$i.staffId}}{{$track}}"><img src="public/html/images/edit.jpg" alt="" /></a>
											</div>
											<div class="editButton editButtonR pull-left text-center">
												<a href="?_f=staff&act=remove&page={{$curPage}}&id={{$i.staffId}}{{$track}}" onclick="return confirm('确认要删除？');"><img src="public/html/images/del.jpg" alt="" /></a>
											</div>
										</div>
									</td>
									<td><span>{{$i.role}}</span></td>
									<!--补充资料添加class soonEnpire-->
									<td>
										<span class="{{if $i.isFill==0}}soonEnpire {{/if}}sortText">
											{{$i.staffName}}
											{{if $i.isFill==0}}<img src="humanAffairs/view/images/tictable.png" class="tictable" alt="" />{{/if}}
										</span>
										<div class="sortTic">此员工需要补充更多员工资料</div>
									</td>
								</tr>
								{{/foreach}}
							</table>
							<div class="tableBox clearfix">
								<table class="table1 table1Content">
									<tr>
										<th width="66" class="paddingLeft12"><span>性别</span></th>
										<th width="200"><span>所属企业</span></th>
										<th width="136"><span>所属部门</span></th>
										<th width="122" class=""><span>职务</span></th>
										<th width="200" class=""><span>身份证号</span></th>
										<th width="121" class=""><span>手机号码</span></th>
										<th width="150" class=""><span>座机</span></th>
										<th width="300" class="">
											<span class="">合同期间</span>
										</th>
										<th width="100" class=""><span>创建时间</span></th>
										<th width="100" class=""><span>状态</span></th>
									</tr>
									{{foreach item=i name=data from=$data}}
									<tr{{if $i%2==1}} class="backgroundFFF"{{/if}}>
										<td class="paddingLeft12"><span>{{$i.sex}}</span></td>
										<td><span>{{$i.company}}</span></td>
										<td><span>{{$i.office}}</span></td>
										<td class=""><span>{{$i.post}}</span></td>
										<td class=""><span>{{$i.idNumber}}</span></td>
										<td class=""><span>{{$i.tel}}</span></td>
										<td class=""><span>{{$i.phone}}</span></td>
										<td class="">
											<!--合同即将到期添加class soonEnpire-->
											<span class="{{if $i.expire==1}}soonEnpire {{/if}}sortText">
												{{$i.contract}}
												{{if $i.isFill==0}}<img src="humanAffairs/view/images/tictable.png" class="tictable" alt="" />{{/if}}
											</span>
											<div class="sortTic sortTicL">
												合同即将到期，请注意查看
											</div>
										</td>
										<td class=""><span>{{$i.createTime}}</span></td>
										<td class=""><span class="quit">{{$i.status}}</span></td>
									</tr>
									{{/foreach}}
								</table>
							</div>
						</div>
						<!--表格end-->
						<!--分页begin-->
						<div class="page clearfix">
							{{$page}}
						</div>
						<!--分页end-->
					</div>
				</div>
				<!--内容区end-->
			</div>
			<!--内容区右侧end-->
		</div>
		<!--内容 end-->
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-ui.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.multiselect.js"></script>
		<script type="text/javascript" src="public/html/js/oa.common.js"></script>
		<script type="text/javascript" src="public/html/js/jquery.form.min.js" ></script>
		<script type="text/javascript" src="humanAffairs/view/js/staff.js"></script>
	</body>

</html>