<title>{{$pageTitle}}</title>

<form method="post" enctype="multipart/form-data">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="s_company" value="{{$s_company}}" />
	<input type="hidden" name="s_office" value="{{$s_office}}" />
	<input type="hidden" name="s_role" value="{{$s_role}}" />
	<input type="hidden" name="s_post" value="{{$s_post}}" />
	<input type="hidden" name="s_status" value="{{$s_status}}" />
	<input type="hidden" name="s_begintime" value="{{$s_begintime}}" />
	<input type="hidden" name="s_overtime" value="{{$s_overtime}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="s_idno" value="{{$s_idno}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="act" value="{{$action}}" />

	<input type="text" name="staffName" placeholder="真实姓名" value="{{$i.staffName}}" /><br />
	性别:
	{{foreach $sex as $key=>value}}
	<input type="radio" name="sex" value="{{$key}}"{{if $i.sex==$key}} checked="true"{{/if}}>{{$value}}
	{{/foreach}}
	<input type="text" name="idNumber" placeholder="身份证号" value="{{$i.idNumber}}" /><br />
	{{if $i.photo!=''}}
	<img src="/upload/images/staff/head/{{$i.photo}}" />
	{{/if}}
	<input type="file" value="上传照片" /><br />
	<input type="text" name="birthDate" placeholder="出生日期" value="{{$i.birthDate}}" /><br />
	农历：
	<select name="lunarMonth">
		<option value="" value="">月份</option>
		{{foreach $lunarMonth as $key=>value}}
		<option value="{{$key}}"{{if $i.lunarMonth==$key}} selected="true"{{/if}}>{{$value}}</option>
		{{/foreach}}
	</select>
	<select name="lunarDay">
		<option value="" value="">日期</option>
		{{foreach $lunarDay as $key=>value}}
		<option value="{{$key}}"{{if $i.lunarDay==$key}} selected="true"{{/if}}>{{$value}}</option>
		{{/foreach}}
	</select>

	<input type="text" name="lunarHour" placeholder="时" value="{{$i.lunarHour}}" /><br />

	<input type="text" name="lunarMinute" placeholder="分" value="{{$i.lunarMinute}}" /><br />

	<input type="text" name="tel" placeholder="手机号" value="{{$i.tel}}" /><br />

	<input type="text" name="address" placeholder="联系地址" value="{{$i.address}}" /><br />

	<input type="text" name="school" placeholder="毕业学校" value="{{$i.school}}" /><br />

	<select name="education">
		<option value="" value="">学历</option>
		{{foreach $education as $key=>value}}
		<option value="{{$key}}"{{if $i.education==$key}} selected="true"{{/if}}>{{$value}}</option>
		{{/foreach}}
	</select>

	<input type="text" name="major" placeholder="所学专业" value="{{$i.major}}" /><br />

	<input type="text" name="registerAddress" placeholder="户口所在地" value="{{$i.registerAddress}}" /><br />

	户口性质：
	{{foreach $registerNature as $key=>value}}
	<input type="radio" name="sex" value="{{$key}}"{{if $i.registerNature==$key}} checked="true"{{/if}}>{{$value}}
	{{/foreach}}

	<select name="politicalType">
		<option value="" value="">政治面貌</option>
		{{foreach $politicalType as $key=>value}}
		<option value="{{$key}}"{{if $i.politicalType==$key}} selected="true"{{/if}}>{{$value}}</option>
		{{/foreach}}
	</select>

	<input type="text" name="nation" placeholder="民族" value="{{$i.nation}}" /><br />

	<input type="text" name="height" placeholder="身高" value="{{$i.height}}" /><br />cm

	<input type="text" name="weight" placeholder="体重" value="{{$i.weight}}" /><br />kg

	血型：
	{{foreach $blood as $key=>value}}
	<input type="radio" name="blood" value="{{$key}}"{{if $i.blood==$key}} checked="true"{{/if}}>{{$value}}
	{{/foreach}}

	婚姻状况：
	{{foreach $marital as $key=>value}}
	<input type="radio" name="blood" value="{{$key}}"{{if $i.maritalStatus==$key}} checked="true"{{/if}}>{{$value}}
	{{/foreach}}

	<input type="text" name="firstWorkDate" placeholder="首次参加工作时间" value="{{$i.firstWorkDate}}" /><br />

	<input type="text" name="quitDate" placeholder="原单位解除合同日" value="{{$i.quitDate}}" /><br />

	<input type="text" name="cnBankAccount" placeholder="中国银行卡号" value="{{$i.cnBankAccount}}" /><br />

	<input type="text" name="busFee" placeholder="公交线路单程车费" value="{{$i.busFee}}" /><br />

	背景调查：<textarea name="background">{{$i.background}}</textarea>

	备注：<textarea name="background">{{$i.remark}}</textarea>

	<input type="submit" value="保存" />

</form>