<!DOCTYPE html>
<html>

	<head>
		<title>{{$pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="public/html/css/oa.base.css" />
		<link rel="stylesheet" href="public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.jquery-ui.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.jquery.multiselect.css" />
		<link rel="stylesheet" href="public/html/css/oa.common.css" />
		<link rel="stylesheet" href="system/view/css/checkProcess-custom.css" />
	</head>

	<body>
		<!--头部 begin-->
		{{include file='public/html/head.html'}}
		<!--头部 end-->

		<!--内容 begin-->
		<div class="container-fluid row">
			<!--内容区左侧导航 begin-->
			{{include file='public/html/menu.html'}}
			<!--内容区左侧导航end-->
			<!--内容区右侧begin-->
			<div class="contentRight col-lg-10 row">
				<!--内容区导航begin-->
				<div class="contentRightNav clearfix">
					<div class="contentRightNavLeft pull-left">
						<div class="contentRightNavTop"><span><a href="index.php?_f=index">首页</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="on">自定义审批流程</span></div>
						<div class="contentRightNavBottom"><span class="name">自定义审批流程设置</span><span class="time"></span></div>
					</div>
				</div>
				<!--内容区导航end-->
				<!--内容区begin-->
				<div class="contentRightBox">
					<div class="contentRightContent">
						<!--检索begin-->
						<div class="retrievalBox">
							<div class="retrievalTitle">快速检索</div>
							<div class="retrievalsForm">
								<form action="" method="get" class="clearfix">
									<input type="hidden" name="_f" value="checkProcess-custom">
									<div class="retrievalsInputBoxs clearfix pull-left">
										<div class="retrievalsInputContent">
											<div class="retrievalsInput">
												<label>类别</label>
												<input type="text" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputBm" placeholder="请选择" name="s_type" value="{{$s_type}}" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach $categorys as $key=>$value}}
														<li data-type = "{{$key}}">{{$value}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="" />
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="retrievalsInputBoxs clearfix pull-left">
										<div class="retrievalsInputContent">
											<div class="retrievalsInput">
												<label>角色</label>
												<input type="text" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputXz" placeholder="请选择" name="s_role" value="{{$s_role}}" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach item=r name=roles from=$roles}}
														<li data-type='{{$r.checkRoleId}}'>{{$r.checkRoleName}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="" />
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="retrievalsInputBoxs clearfix pull-left">
										<div class="retrievalsInputContent">
											<div class="retrievalsInput">
												<label>所属部门</label>
												<input type="text" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputLz" placeholder="请选择" name="s_office" value="{{$s_office}}" data-type='0' />
												<div class="retrievalsInputNavBox">
													<ul class="retrievalsInputNav">
														<li data-type = "0">请选择</li>
														{{foreach item=o name=offices from=$offices}}
														<li data-type='{{$o.officeId}}'>{{$o.officeName}}</li>
														{{/foreach}}
														<input type="hidden" class="selectVal" value="" />
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!--查询清空begin-->
									<div class="retrievalsInput clearfix pull-left">
										<div class="queryButton pull-left">查询</div>
										<div class="clearButton pull-left">清空</div>
									</div>
									<!--查询清空end-->
								</form>
							</div>
						</div>
						<!--检索end-->
						<!--新增 导出数据按钮 begin-->
						<div class="downloadAddButtonBox clearfix">
							<a href="?_f=checkProcess-custom-set&act=add"><div class="downloadAddButton downloadAddButtonL pull-left">新增</div></a>
							<!-- <a href="">
								<div class="downloadAddButton downloadAddButtonR pull-left">导出数据</div>
							</a> -->
						</div>
						<!--新增 导出数据按钮 end-->
						<!--表格begin-->
						<div class="clearfix tableBoxFather">
							<table class="table1 table1Fixed">
								<tr>
									<th width='145' class="text-center borderRight1"><span>操作</span></th>
								</tr>
								{{foreach item=i name=data from=$data}}
								<tr class="backgroundFFF">
									<td class="borderRight1">
										<div class="editBox center-block clearfix">
											{{if $i.isOpt}}
											<div class="editButton editButtonL borderRight pull-left text-center">
												<a href="?_f=checkProcess-custom-set&act=edit&page={{$curPage}}&id={{$i.checkProcessId}}{{$track}}"><img src="public/html/images/edit.jpg" alt="" /></a>
											</div>
											<div class="editButton editButtonR pull-left text-center">
												<img src="public/html/images/del.jpg" alt="" />
												<input type="hidden" value="?_f=checkProcess-custom&act=remove&page={{$curPage}}&id={{$i.checkProcessId}}{{$track}}"/>
											</div>
											{{/if}}
										</div>
									</td>
								</tr>
								{{/foreach}}
							</table>
							<div class="tableBox clearfix">
								<table class="table1 table1Content">
									<tr>
										<th width="78" class="paddingLeft12"><span>#</span></th>
										<th width="143"><span>类别</span></th>
										<th width="295"><span>级别</span></th>
										<th width="153" class=""><span>所属企业</span></th>
										<th width="167" class=""><span>所属部门</span></th>
										<th width="203" class=""><span>审批流程</span></th>
										<th width="158" class="text-center"><span>创建时间</span></th>
									</tr>
									{{foreach item=i name=data from=$data}}
									<tr{{if $i%2==1}} class="backgroundFFF"{{/if}}>
										<td class="paddingLeft12"><span>{{$i.sn}}</span></td>
										<td><span>{{$i.checkCategory}}</span></td>
										<td><span>{{$i.checkLevel}}级</span></td>
										<td class=""><span>{{$i.office}}</span></td>
										<td class=""><span>{{$i.group}}</span></td>
										<td class=""><span>{$i.checkProcess}}</span></td>
										<td><span>{$i.createTime}}</span></td>
									</tr>
									{{/foreach}}
								</table>
							</div>
						</div>
						<!--表格end-->
						<!--分页begin-->
						<div class="page clearfix">
							{{$page}}
						</div>
						<!--分页end-->
					</div>
				</div>
				<!--内容区end-->
			</div>
			<!--内容区右侧end-->
		</div>
		<!--内容 end-->
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-ui.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.multiselect.js"></script>
		<script type="text/javascript" src="public/html/js/oa.common.js"></script>
		<script type="text/javascript" src="public/html/js/jquery.form.min.js" ></script>
		<script type="text/javascript" src="system/view/js/checkProcess-custom.js"></script>
	</body>

</html>