<meta charset="utf-8" />
<title>{{$pageTitle}}</title>

<table border="1">
	<tr>
		<td>#</td>
		<td>类别</td>
		<td>审批级别</td>
		<td>所属办事处</td>
		<td>所属工作组</td>
		<td>自定义审批流程</td>
		<td>操作</td>
	</tr>
	{{foreach item=i name=data from=$data}}
	<tr>
		<td>{{$i.sn}}</td>
		<td>{{$i.checkCategory}}</td>
		<td>{{$i.checkLevel}}级</td>
		<td>{{$i.office}}</td>
		<td>{{$i.group}}</td>
		<td>{{$i.checkProcess}}</td>
		<td>
			<a href="?_f=checkProcess-custom&act=remove&page={{$curPage}}&id={{$i.checkProcessId}}{{$track}}">删除</a>
			<a href="?_f=checkProcess-custom-set&act=edit&page={{$curPage}}&id={{$i.checkProcessId}}{{$track}}">修改</a>
		</td>
	</tr>
	{{/foreach}}
	
</table>
<div class="pagebox">
	{{$page}}
</div>