<meta charset="utf-8" />
<title>{{$pageTitle}}</title>

<table border="1">
	<tr>
		<td>#</td>
		<td>类别编号</td>
		<td>类别名称</td>
		<td>排序</td>
		<td>操作</td>
	</tr>
	{{foreach item=i name=data from=$data}}
	<tr>
		<td>{{$i.sn}}</td>
		<td>{{$i.categoryCode}}</td>
		<td>{{$i.categoryName}}</td>
		<td>
			<input id="rank{{$i.categoryId}}" name="rank{{$i.categoryId}}" class="m-wrap" type="text" size="5" style="width:30px;height: 9px;margin: 0;" value="{{$i.rank}}"/><a href="javascript:void(0);" onclick="javascript:location.href='?_f=officeTool-type&act=updateRank&page={{$curPage}}&id={{$i.categoryId}}{{$track}}&rank='+document.getElementById('rank{{$i.categoryId}}').value;">保存</a>
		</td>
		<td>
			<a href="?_f=officeTool-type&act=remove&page={{$curPage}}&id={{$i.categoryId}}{{$track}}">删除</a>
			<a href="?_f=officeTool-type-set&act=edit&page={{$curPage}}&id={{$i.categoryId}}{{$track}}">修改</a>
		</td>
	</tr>
	{{/foreach}}
	
</table>
<div class="pagebox">
	{{$page}}
</div>