<title>{{$pageTitle}}</title>

<form method="post">
<input type="hidden" name="page" value="{{$page}}" />
<input type="hidden" name="s_roleName" value="{{$s_roleName}}" />
<input type="hidden" name="id" value="{{$id}}" />
<input type="hidden" name="act" value="{{$action}}" />
<input type="text" name="roleName" placeholder="系统角色名称" value="{{$i.sysRoleName}}" /><br />
<input type="text" name="rank" value="{{$rank}}" placeholder="排序" /><br />

<input type="checkbox" name="m1" value="1"{{if $i.orgPower[0]==1}} checked{{/if}}>企业信息管理<br />
<input type="checkbox" name="m2" value="1"{{if $i.orgPower[1]==1}} checked{{/if}}>办事处<br />
<input type="checkbox" name="m3" value="1"{{if $i.orgPower[2]==1}} checked{{/if}}>工作组<br />
<input type="checkbox" name="m4" value="1"{{if $i.orgPower[3]==1}} checked{{/if}}>企业组织架构<br /><br />

<input type="checkbox" name="m5" value="1"{{if $i.humanAffairsPower[0]==1}} checked{{/if}}>企业资质证件<br />
<input type="checkbox" name="m6" value="1"{{if $i.humanAffairsPower[1]==1}} checked{{/if}}>员工管理<br />
<input type="checkbox" name="m7" value="1"{{if $i.humanAffairsPower[2]==1}} checked{{/if}}>员工档案管理<br />
<input type="checkbox" name="m8" value="1"{{if $i.humanAffairsPower[3]==1}} checked{{/if}}>离职员工<br />
<input type="checkbox" name="m9" value="1"{{if $i.humanAffairsPower[4]==1}} checked{{/if}}>转正考核<br />
<input type="checkbox" name="m10" value="1"{{if $i.humanAffairsPower[5]==1}} checked{{/if}}>转正考核审批<br />
<input type="checkbox" name="m11" value="1"{{if $i.humanAffairsPower[6]==1}} checked{{/if}}>离职申请<br />
<input type="checkbox" name="m12" value="1"{{if $i.humanAffairsPower[7]==1}} checked{{/if}}>离职申请审批<br />
<input type="checkbox" name="m13" value="1"{{if $i.humanAffairsPower[8]==1}} checked{{/if}}>企业规章制度<br />
<input type="checkbox" name="m14" value="1"{{if $i.humanAffairsPower[9]==1}} checked{{/if}}>邮箱申请<br />
<input type="checkbox" name="m15" value="1"{{if $i.humanAffairsPower[10]==1}} checked{{/if}}>邮箱审批<br /><br />

<input type="checkbox" name="m16" value="1"{{if $i.leavePower[0]==1}} checked{{/if}}>申请假期<br />
<input type="checkbox" name="m17" value="1"{{if $i.leavePower[1]==1}} checked{{/if}}>请假管理<br />
<input type="checkbox" name="m18" value="1"{{if $i.leavePower[2]==1}} checked{{/if}}>假期审批<br />
<input type="checkbox" name="m19" value="1"{{if $i.leavePower[3]==1}} checked{{/if}}>假期统计<br /><br />

<input type="checkbox" name="m20" value="1"{{if $i.businessTravelPower[0]==1}} checked{{/if}}>出差申请<br />
<input type="checkbox" name="m21" value="1"{{if $i.businessTravelPower[1]==1}} checked{{/if}}>出差审批<br /><br />

<input type="checkbox" name="m22" value="1"{{if $i.carPower[0]==1}} checked{{/if}}>车辆信息管理<br />
<input type="checkbox" name="m23" value="1"{{if $i.carPower[1]==1}} checked{{/if}}>车辆行驶记录<br />
<input type="checkbox" name="m24" value="1"{{if $i.carPower[2]==1}} checked{{/if}}>车辆行驶统计<br />
<input type="checkbox" name="m25" value="1"{{if $i.carPower[3]==1}} checked{{/if}}>车辆维修管理<br />
<input type="checkbox" name="m26" value="1"{{if $i.carPower[4]==1}} checked{{/if}}>车辆维修审批<br />
<input type="checkbox" name="m27" value="1"{{if $i.carPower[5]==1}} checked{{/if}}>车辆维修费用管理<br /><br />

<input type="checkbox" name="m28" value="1"{{if $i.officeToolPower[0]==1}} checked{{/if}}>办公备品管理<br />
<input type="checkbox" name="m29" value="1"{{if $i.officeToolPower[1]==1}} checked{{/if}}>办公备品审批<br />
<input type="checkbox" name="m30" value="1"{{if $i.officeToolPower[2]==1}} checked{{/if}}>办公备品入库管理<br />
<input type="checkbox" name="m31" value="1"{{if $i.officeToolPower[3]==1}} checked{{/if}}>办公备品分配记录<br />
<input type="checkbox" name="m32" value="1"{{if $i.officeToolPower[4]==1}} checked{{/if}}>办公备品出库管理<br />
<input type="checkbox" name="m33" value="1"{{if $i.officeToolPower[5]==1}} checked{{/if}}>办公备品使用统计<br />
<input type="checkbox" name="m34" value="1"{{if $i.officeToolPower[6]==1}} checked{{/if}}>办公备品盘点<br />
<input type="checkbox" name="m35" value="1"{{if $i.officeToolPower[7]==1}} checked{{/if}}>办公备品调转部门<br />
<input type="checkbox" name="m36" value="1"{{if $i.officeToolPower[8]==1}} checked{{/if}}>调转部门审批<br />
<input type="checkbox" name="m37" value="1"{{if $i.officeToolPower[9]==1}} checked{{/if}}>办公备品统计<br /><br />

<input type="checkbox" name="m38" value="1"{{if $i.generalAffairsPower[0]==1}} checked{{/if}}>企业规章制度管理<br />
<input type="checkbox" name="m39" value="1"{{if $i.generalAffairsPower[1]==1}} checked{{/if}}>企业动态管理<br />
<input type="checkbox" name="m40" value="1"{{if $i.generalAffairsPower[2]==1}} checked{{/if}}>企业资质证件管理<br /><br />

<input type="checkbox" name="m41" value="1"{{if $i.systemPower[0]==1}} checked{{/if}}>系统角色权限设置<br />
<input type="checkbox" name="m42" value="1"{{if $i.systemPower[1]==1}} checked{{/if}}>审批角色权限设置<br />
<input type="checkbox" name="m43" value="1"{{if $i.systemPower[2]==1}} checked{{/if}}>自定义审批流程设置<br />
<input type="checkbox" name="m44" value="1"{{if $i.systemPower[3]==1}} checked{{/if}}>默认审批流程设置<br />
<input type="checkbox" name="m45" value="1"{{if $i.systemPower[4]==1}} checked{{/if}}>职务管理<br />
<input type="checkbox" name="m46" value="1"{{if $i.systemPower[5]==1}} checked{{/if}}>请假类型管理<br />
<input type="checkbox" name="m47" value="1"{{if $i.systemPower[6]==1}} checked{{/if}}>备品类别管理<br />
<input type="checkbox" name="m48" value="1"{{if $i.systemPower[7]==1}} checked{{/if}}>备品名称管理<br /><br />

<input type="checkbox" name="m49" value="1"{{if $i.signPower[0]==1}} checked{{/if}}>考勤时间管理<br />
<input type="checkbox" name="m50" value="1"{{if $i.signPower[1]==1}} checked{{/if}}>打卡记录<br />
<input type="checkbox" name="m51" value="1"{{if $i.signPower[2]==1}} checked{{/if}}>打卡统计<br />
<input type="checkbox" name="m52" value="1"{{if $i.signPower[3]==1}} checked{{/if}}>每日打卡记录<br />
<input type="checkbox" name="m53" value="1"{{if $i.signPower[4]==1}} checked{{/if}}>打卡时间<br /><br />

<input type="submit" value="保存" />
</form>
