<!DOCTYPE html>
<html>
<head>
	<title>{{$pageTitle}}</title>
</head>
<body>
	{{if $messageContent!=''}}
	系统消息：{{$messageContent}}
	{{/if}}
	友情提示：{{$common_staffName}} ，欢迎您回来，祝你开心每一天！
	快捷方式：<a href="">请假申请</a>&nbsp;<a href="">我的档案</a>&nbsp;<a href="">企业规章制度</a><a href="">组织架构</a>&nbsp;<a href="">系统消息{{if $noRead>0}}（{{$noRead}}）{{/if}}</a><br />
	企业动态：更多
	<table>
		{{foreach item=n name=news from=news}}
		<tr>
			<td><a href="general-affairs.php?_f=news-info&i={{$n.newsId}}">{{$n.title}}</a></td>
			<td>{{$n.newsTime}}</td>
		</tr>
		{{/foreach}}
	</table><br />
	企业活动：更多
	<table>
		{{foreach item=a name=actives from=actives}}
		<tr>
			<td><a href="general-affairs.php?_f=actives-info&i={{$a.newsId}}">{{$a.title}}</a></td>
			<td>{{$a.newsTime}}</td>
		</tr>
		{{/foreach}}
	</table>
</body>
</html>