<!DOCTYPE html>
<html>

	<head>
		<title>{{$pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="public/html/css/oa.base.css" />
		<link rel="stylesheet" href="public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.jquery-ui.min.css" />
		<link rel="stylesheet" href="public/html/css/oa.jquery.multiselect.css" />
		<link rel="stylesheet" href="public/html/css/oa.common.css" />
		<link rel="stylesheet" href="index/view/css/index.css" />
	</head>

	<body>
		{{include file='public/html/head.html'}}

		<!--内容 begin-->
		<div class="container-fluid row">
			<!--内容区左侧导航 begin-->
			{{include file='public/html/menu.html'}}
			<!--内容区左侧导航end-->
			<!--内容区右侧begin-->
			<div class="contentRight col-lg-10 row">
				<div class="contentRightInfo">
					{{if $messageContent!=''}}
					<div class="contentTic">
						系统消息：{{$messageContent}}
						<img src="images/close-tic.png" alt="" />
					</div>
					{{/if}}
					<div class="contentHand clearfix">
						<div class="contentHandLeft pull-left"><div class="indexHandMask"><img src="public/html/images/indexHandMask.png"/></div><img src="{{$common_head}}" alt="" /></div>
						<div class="contentHandRight pull-left">
							<div class="contentHandRightTop">{{$common_staffName}} ，欢迎您回来，祝你开心每一天！</div>
							<div class="contentHandRightBottom">{{$common_officeName}} - {{$common_groupName}}</div>
						</div>
					</div>
				</div>
				<!--内容区begin-->
				<div class="contentRightBox">
					<div class="contentRightContent">
						<!--快捷方式begin-->
						<div class="contentRightContentTitle">快捷方式</div>
						<div class="quickFunction clearfix">
							<a href="">
								<div class="quickFunctionBox pull-left">
									<div class="quickFunctionPart">
										<img src="index/view/images/index-icon-a.jpg" alt="" />假期申请
									</div>
								</div>
							</a>
							<a href="human-affairs.php?_f=archives-info&l=m">
								<div class="quickFunctionBox pull-left">
									<div class="quickFunctionPart">
										<img src="index/view/images/index-icon-b.jpg" alt="" />我的档案
									</div>
								</div>
							</a>
							<a href="human-affairs.php?_f=rules">
								<div class="quickFunctionBox pull-left">
									<div class="quickFunctionPart">
										<img src="index/view/images/index-icon-c.jpg" alt="" />企业规章制度
									</div>
								</div>
							</a>
							<a href="org.php?_f=org">
								<div class="quickFunctionBox pull-left">
									<div class="quickFunctionPart">
										<img src="index/view/images/index-icon-d.jpg" alt="" />组织架构
									</div>
								</div>
							</a>
							<a href="">
								<div class="quickFunctionBox pull-left marginRight0">
									<div class="quickFunctionPart">
										<img src="index/view/images/index-icon-e.jpg" alt="" />系统消息{{if $common_noRead>0}} <span class="quickFunctionPartNum">{{$common_noRead}}</span>{{/if}}
									</div>
								</div>
							</a>
						</div>
						<!--快捷方式end-->
						<!--企业动态 企业活动 begin-->
						<div class="dynamicsActiveBox clearfix">
							<!--动态begin-->
							<div class="dynamicsActivePart pull-left">
								<div class="dynamicsActivePartTitle">企业动态 <a href="javascript:void(0);"><img src="index/view/images/right.png" alt="" /></a></div>
								<div class='ul'>
									{{foreach item=n name=news from=$news}}
									<a href="general-affairs.php?_f=news-info&i={{$n.newsId}}">
										<div class="li clearfix">
											<div class="liL pull-left">
												{{$n.title}}
											</div>
											<div class="liR pull-right">{{$n.newsTime|date_format:"%Y-%m-%d"}}</div>
										</div>
									</a>
									{{/foreach}}
								</div>
							</div>
							<!--动态end-->
							<!--活动begin-->
							<div class="dynamicsActivePart pull-right">
								<div class="dynamicsActivePartTitle">企业活动 <a href="javascript:void(0);"><img src="index/view/images/right.png" alt="" /></a></div>
								<div class='ul'>
									{{foreach item=a name=actives from=$actives}}
									<a href="general-affairs.php?_f=actives-info&i={{$a.newsId}}">
										<div class="li clearfix">
											<div class="liL pull-left">
												{{$a.title}}
											</div>
											<div class="liR pull-right">{{$a.newsTime|date_format:"%Y-%m-%d"}}</div>
										</div>
									</a>
									{{/foreach}}
								</div>
							</div>
							<!--活动end-->
						</div>
						<!--企业动态 企业活动 end-->
					</div>
				</div>
				<!--内容区end-->
			</div>
			<!--内容区右侧end-->
		</div>
		<!--内容 end-->
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery-ui.min.js"></script>
		<script type="text/javascript" src="public/html/js/plugin/oa.jquery.multiselect.js"></script>
		<script type="text/javascript" src="public/html/js/oa.common.js"></script>
		<script type="text/javascript" src="index/view/js/index.js" ></script>
	</body>

</html>