<!DOCTYPE html>
<html>

	<head>
		<title>登录</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="../../public/html/css/oa.base.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="../../public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.jquery-ui.min.css" />
		<link rel="stylesheet" href="../../public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.common.css" />
		<link rel="stylesheet" href="css/login.css" />
	</head>

	<body>
		<!--头部begin-->
		<div class="header"></div>
		<!--头部end-->
		<!--内容begin-->
		<div class="content">
			<div class="contentBox">
				<div class="contentPart">
					<div class="loginTitle">OA 办公管理系统</div>
					<div class="loginContent">
						<form action="" method="">
							<div class="loginInput marginB40">
								<label>用户名</label>
								<input class="name" type="text" placeholder="请填写您的手机号"/>
								<div class="wrongText wrongTextName">请正确填写您的手机号</div>
							</div>
							<div class="loginInput">
								<label>密码</label>
								<input class="password" type="password" placeholder="请填写登录密码"/>
								<div class="wrongText wrongTextPassword">请填写登录密码</div>
							</div>
							<div class="loginFor">自动登录</div>
							<!--值为1时记住状态 为0否-->
							<input type="hidden" class="loginHide" value="0"/>
							<div class="submit">立即登录</div>
						</form>
					</div>
				</div>
			</div>
			<div class="copyright">©&nbsp;2019&nbsp;大连国际货运有限公司，All Right Reserved</div>
		</div>
		<!--内容end-->
		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js" ></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery.placeholder.min.js" ></script>
		<script type="text/javascript" src="../../public/html/js/oa.common.js" ></script>
		<script type="text/javascript" src="js/login.js" ></script>
	</body>

</html>