.retrievalBox{
	height: auto;
}
/*检索*/
.retrievalsForm{
	padding-left: 2%;
}
.retrievalsInputBoxs{
	width: 427.23px;
}
.retrievalsInput{
	margin-bottom: 27px;
	position: relative;
}
.retrievalsInput input{
	width: 210px;
	height: 42px;
	border: 1px solid #e8e8e8;
	padding-left: 10px;
	border-radius: 3px;
	color: #222222;
	font-size: 14px;
	margin-left: 15px;
	background: #fbfbfd;
	line-height: 38px;
}
.retrievalsInput .choseInput{
	cursor: pointer;
	background: url(../images/input-down.jpg) no-repeat 92% 50% #fbfbfd;
}
.retrievalsInput label{
	width: 64px;
	font-weight: 500;
}
.retrievalsInputNavBox{
	display: none;
	position: absolute;
	top: 0;
	left: 79px;
}
.retrievalsInputNav{
	/*position: absolute;
	top: 55px;*/
	/*left: 0;*/
	position: relative;
	background-color: #fff;
	z-index: 10;
	width: 240px;
	box-shadow: 0 0 20px #e9e9e9;
	margin-top: 55px;
	/*display: none;*/
}
.retrievalsInputNav:after{
	content: '';
	display: block;
	position: absolute;
	width: 11px;
	height: 8px;
	background: url(../images/navTop.jpg) no-repeat;
	top: -8px;
	left: 17px;
}
.retrievalsInputNav li{
	height: 45px;
	line-height: 45px;
	font-size: 13px;
	color: #888888;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 13px;
}
.retrievalsInputNav li:hover{
	background-color: #f4f5f9;
}
.retrievalsInput .datepicker{
	width: 154px;
	background: url(../../../public/html/images/data_icon.png) no-repeat 92% 50% #fbfbfd;
}
.retrievalsInputTime{
	width: 418px;
}
.queryButton,.clearButton{
	width: 140px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 68px;
}
.queryButton{
	background-color: #012989;
	margin-right: 15px;
}
.clearButton{
	background-color: #b9bdc6;
}
.retrievalsInputBoxsEnd{
	width: 334px;
}
.retrievalsInputBoxsStar{
	width: 358px;
}
.retrievalBox{
	margin-bottom: 42px;
}
/*检索end*/
/*表格begin*/
.table1Fixed{
	/*width: 280px;*/
	width: 5.2%;
}
.tableBox{
	width: 94.9%;
	float: right;
}
.tictable{
	margin-left: 5px;
	cursor: pointer;
}
.soonEnpire{
	color: #e53631;
}
.sortTic {
    position: absolute;
    top: -37px;
    left: -122px;
}
.sortTicL{
	/*right: 7px;*/
	left: 26px;
}
.table1 td{
	position: relative;
}
.sortTic:after{
	display: block;
    content: '';
    width: 11px;
    height: 6px;
    position: absolute;
    left: 147px;
    right: 0;
    margin: 0 auto;
    top: 42px;
    background: url(../images/tdicon.png) no-repeat;
}
.editBox{
	width: 40px;
}
.editButtonL{
	border: none;
}
.normal{
	display: block;
	width: 55px;
	height: 28px;
	line-height: 28px;
	background-color: #f4f8f9;
	text-align: center;
	font-size: 12px;
	color: #79909b;
	border-radius: 3px;
	cursor: pointer;
}
.quit{
	display:block;
	width: 55px;
	height: 28px;
	line-height: 28px;
	background-color: #fcebea;
	text-align: center;
	font-size: 12px;
	color: #e53631;
	border-radius: 3px;
	cursor: pointer;
}
.compassionateLeave{
	display: block;
	width: 55px;
	height: 28px;
	line-height: 28px;
	background-color: #fcf3cf;
	text-align: center;
	font-size: 12px;
	color: #fc6d22;
	border-radius: 3px;
	cursor: pointer;
}
/*表格end*/

@media (min-width: 1250px) and (max-width: 1730px) {
	.retrievalsInputBoxs {
   	 width: 40%;
	}
	.queryButton, .clearButton{
		width: 126px;
	}
	.retrievalsInput .datepicker{
		width: 116px;
	}
	.retrievalsInput input{
		width: 182px;
	}
	.retrievalsInputTime{
		width: 350px;
	}
}
@media (min-width: 1250px) and (max-width: 1378px) {
	.retrievalsInputBoxs {
   	 width: 313px;
	}
}
@media (min-width: 1250px) and (max-width: 1862px) {
	.queryButton,.clearButton{
		margin-top: 0;
	}
}