			<div class="contentLeftNav col-lg-2 row">
				<div class="contentLeftNavListTop col-lg-12">
					<div class="contentNavList col-md-12 row{{$indexMenu}}">
						<a href="index.php?_f=index"><div class="contentNavListText"><img src="public/html/images/nav-image-a.png" alt="" class="navLogo" />首页</div></a>
					</div>
					{{if in_array('1',$menuOrg)}}
					<div class="contentNavList col-md-12 row{{$orgMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-b.png" alt="" class="navLogo" />DIT组织架构</div>
						<ul class="contentNavListMore">
							{{if $menuOrg[0] == 1}}
							<li{{if $companyMenu==1}} class="active"{{/if}}>
								<a href="org.php?_f=company">企业信息管理</a>
							</li>
							{{/if}}
							{{if $menuOrg[1] == 1}}
							<li{{if $officeMenu==1}} class="active"{{/if}}>
								<a href="org.php?_f=office">办事处管理</a>
							</li>
							{{/if}}
							{{if $menuOrg[2] == 1}}
							<li{{if $groupMenu==1}} class="active"{{/if}}>
								<a href="org.php?_f=group">工作组管理</a>
							</li>
							{{/if}}
							{{if $menuOrg[3] == 1}}
							<li{{if $orgsMenu==1}} class="active"{{/if}}>
								<a href="org.php?_f=org">企业组织架构</a>
							</li>
							{{/if}}
						</ul>
					</div>
					{{/if}}
					{{if in_array('1',$menuHumanAffairs)}}
					<div class="contentNavList col-md-12 row{{$humanMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-c.png" alt="" class="navLogo" />人事管理</div>
						<ul class="contentNavListMore">
							{{if $menuHumanAffairs[11] == 1}}
							<li{{if $myMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=archives-info&l=m">我的档案</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[0] == 1}}
							<li{{if $cerMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=certificate">企业资质证件</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[1] == 1}}
							<li{{if $staffMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=staff">员工管理</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[2] == 1}}
							<li{{if $archivesMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=archives">员工档案管理</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[3] == 1}}
							<li{{if $quitStaffMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=quit-staff">离职员工</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[4] == 1}}
							<li{{if $employCheckMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=employ-check">转正考核</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[5] == 1}}
							<li{{if $employCheckCheckMenu==1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=employ-check-check">转正考核审批</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[6] == 1}}
							<!-- <li>
								<a href="">离职申请</a>
							</li> -->
							{{/if}}
							{{if $menuHumanAffairs[7] == 1}}
							<!-- <li>
								<a href="">离职申请审批</a>
							</li> -->
							{{/if}}
							{{if $menuHumanAffairs[8] == 1}}
							<li{{if $rMenu == 1}} class="active"{{/if}}>
								<a href="human-affairs.php?_f=rules">企业规章制度</a>
							</li>
							{{/if}}
							{{if $menuHumanAffairs[9] == 1}}
							<!-- <li>
								<a href="">邮箱申请</a>
							</li> -->
							{{/if}}
							{{if $menuHumanAffairs[10] == 1}}
							<!-- <li>
								<a href="">邮箱审批</a>
							</li> -->
							{{/if}}
						</ul>
					</div>
					{{/if}}
					{{if in_array('1',$menuLeave)}}
					<div class="contentNavList col-md-12 row{{$leaveMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-d.png" alt="" class="navLogo" />请假管理</div>
						<ul class="contentNavListMore">
							{{if $menuLeave[0] == 1}}
							<li>
								<a href="">申请假期</a>
							</li>
							{{/if}}
							{{if $menuLeave[1] == 1}}
							<li>
								<a href="">请假管理</a>
							</li>
							{{/if}}
							{{if $menuLeave[2] == 1}}
							<li>
								<a href="">假期审批</a>
							</li>
							{{/if}}
							{{if $menuLeave[3] == 1}}
							<li>
								<a href="">假期统计</a>
							</li>
							{{/if}}
						</ul>
					</div>
					{{/if}}
					{{if in_array('1',$menuBusinessTravel)}}
					<!-- <div class="contentNavList col-md-12 row{{$businessMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-e.png" alt="" class="navLogo" />出差管理</div>
						<ul class="contentNavListMore">
							{{if $menuBusinessTravel[0] == 1}}
							<li>
								<a href="">出差申请</a>
							</li>
							{{/if}}
							{{if $menuBusinessTravel[1] == 1}}
							<li>
								<a href="">出差审批</a>
							</li>
							{{/if}}
						</ul>
					</div> -->
					{{/if}}
					{{if in_array('1',$menuCar)}}
					<!-- <div class="contentNavList col-md-12 row{{$carMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-f.png" alt="" class="navLogo" />车辆管理</div>
						<ul class="contentNavListMore">
							{{if $menuCar[0] == 1}}
							<li>
								<a href="">车辆信息管理</a>
							</li>
							{{/if}}
							{{if $menuCar[1] == 1}}
							<li>
								<a href="">车辆行驶记录</a>
							</li>
							{{/if}}
							{{if $menuCar[2] == 1}}
							<li>
								<a href="">车辆行驶统计</a>
							</li>
							{{/if}}
							{{if $menuCar[3] == 1}}
							<li>
								<a href="">车辆维修管理</a>
							</li>
							{{/if}}
							{{if $menuCar[4] == 1}}
							<li>
								<a href="">车辆维修审批</a>
							</li>
							{{/if}}
							{{if $menuCar[5] == 1}}
							<li>
								<a href="">车辆维修费用管理</a>
							</li>
							{{/if}}
						</ul>
					</div> -->
					{{/if}}
					{{if in_array('1',$menuOfficeTool)}}
					<!-- <div class="contentNavList col-md-12 row{{$officeMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-g.png" alt="" class="navLogo" />办公备品管理</div>
						<ul class="contentNavListMore">
							{{if $menuOfficeTool[0] == 1}}
							<li>
								<a href="">办公备品管理</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[1] == 1}}
							<li>
								<a href="">办公备品审批</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[2] == 1}}
							<li>
								<a href="">办公备品入库管理</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[3] == 1}}
							<li>
								<a href="">办公备品分配记录</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[4] == 1}}
							<li>
								<a href="">办公备品出库管理</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[5] == 1}}
							<li>
								<a href="">办公备品使用统计</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[6] == 1}}
							<li>
								<a href="">办公备品盘点</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[7] == 1}}
							<li>
								<a href="">办公备品调转部门</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[8] == 1}}
							<li>
								<a href="">调转部门审批</a>
							</li>
							{{/if}}
							{{if $menuOfficeTool[9] == 1}}
							<li>
								<a href="">办公备品统计</a>
							</li>
							{{/if}}
						</ul>
					</div> -->
					{{/if}}
					{{if in_array('1',$menuGeneralAffairs)}}
					<div class="contentNavList col-md-12 row{{$generalMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-h.png" alt="" class="navLogo" />综合事务管理</div>
						<ul class="contentNavListMore">
							{{if $menuGeneralAffairs[0] == 1}}
							<li{{if $rulesMenu==1}} class="active"{{/if}}>
								<a href="general-affairs.php?_f=rules">企业规章制度管理</a>
							</li>
							{{/if}}
							{{if $menuGeneralAffairs[1] == 1}}
							<li>
								<a href="">企业动态管理</a>
							</li>
							{{/if}}
							{{if $menuGeneralAffairs[2] == 1}}
							<li{{if $certificateMenu==1}} class="active"{{/if}}>
								<a href="general-affairs.php?_f=certificate">企业资质证件管理</a>
							</li>
							{{/if}}
						</ul>
					</div>
					{{/if}}
					{{if in_array('1',$menuSystem)}}
					<div class="contentNavList col-md-12 row{{$systemMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-j.png" alt="" class="navLogo" />系统运维管理</div>
						<ul class="contentNavListMore">
							{{if $menuSystem[0] == 1}}
							<li{{if $roleMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=system-role">系统角色权限设置</a>
							</li>
							{{/if}}
							{{if $menuSystem[1] == 1}}
							<li{{if $checkRoleMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=check-role">审批角色权限设置</a>
							</li>
							{{/if}}
							{{if $menuSystem[2] == 1}}
							<li{{if $checkProcessMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=checkProcess-custom">自定义审批流程设置</a>
							</li>
							{{/if}}
							{{if $menuSystem[3] == 1}}
							<li{{if $checkProcessDefaultMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=checkProcess-default">默认审批流程设置</a>
							</li>
							{{/if}}
							{{if $menuSystem[4] == 1}}
							<li{{if $postMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=post">职务管理</a>
							</li>
							{{/if}}
							{{if $menuSystem[5] == 1}}
							<li{{if $leaveTypeMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=leave-type">请假类型管理</a>
							</li>
							{{/if}}
							{{if $menuSystem[6] == 1}}
							<li{{if $officeToolTypeMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=officeTool-type">备品类别管理</a>
							</li>
							{{/if}}
							{{if $menuSystem[7] == 1}}
							<li{{if $officeToolNameMenu==1}} class="active"{{/if}}>
								<a href="system.php?_f=officeTool-name">备品名称管理</a>
							</li>
							{{/if}}
						</ul>
					</div>
					{{/if}}
					{{if in_array('1',$menuSignPower)}}
					<div class="contentNavList col-md-12 row{{$signMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-i.png" alt="" class="navLogo" />考勤管理</div>
						<ul class="contentNavListMore">
							{{if $menuSignPower[0] == 1}}
							<li>
								<a href="">考勤时间管理</a>
							</li>
							{{/if}}
							{{if $menuSignPower[1] == 1}}
							<li>
								<a href="">打卡记录</a>
							</li>
							{{/if}}
							{{if $menuSignPower[2] == 1}}
							<li>
								<a href="">打卡统计</a>
							</li>
							{{/if}}
							{{if $menuSignPower[3] == 1}}
							<li>
								<a href="">每日打卡记录</a>
							</li>
							{{/if}}
							{{if $menuSignPower[4] == 1}}
							<li>
								<a href="">打卡时间</a>
							</li>
							{{/if}}
						</ul>
					</div>
					{{/if}}
					<div class="contentNavList col-md-12 row{{$messageMenu}}">
						<div class="contentNavListText"><img src="public/html/images/nav-image-k.png" alt="" class="navLogo" />系统消息</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">系统消息</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="contentNavBottom col-lg-12">© 2019 大连国际货运有限公司<br />All Right Reserved</div>
			</div>
	