<meta charset="utf-8" />
<title>{{$pageTitle}}</title>

<form method="get">
	<input type="hidden" name="act" value="searchPost" />
	<input type="hidden" name="_f" value="group" />
	<select name="s_office">
		<option value="0" {{if $s_office==0}} selected="true"{{/if}}>所属部门</option>
		{{foreach item=o name=offices from=$offices}}
		<option value="{{$o.officeId}}"{{if $o.officeId==$s_office}} selected="true"{{/if}}>{{$o.officeName}}</option>
		{{/foreach}}
	</select>
	<input type="text" name="s_name" value="{{$s_name}}" placeholder="工作组名称...">
	<input type="submit" value="检索">
</form>

<table border="1">
	<tr>
		<td>#</td>
		<td>所属部门</td>
		<td>小组名称</td>
		<td>联系电话</td>
		<td>排序</td>
		<td>操作</td>
	</tr>
	{{foreach item=i name=data from=$data}}
	<tr>
		<td>{{$i.sn}}</td>
		<td>{{$i.office}}</td>
		<td>{{$i.groupName}}</td>
		<td>{{$i.phone}}</td>
		<td>
			<input id="rank{{$i.groupId}}" name="rank{{$i.groupId}}" class="m-wrap" type="text" size="5" style="width:30px;height: 9px;margin: 0;" value="{{$i.rank}}"/><a href="javascript:void(0);" onclick="javascript:location.href='?_f=group&act=updateRank&page={{$curPage}}&id={{$i.groupId}}{{$track}}&rank='+document.getElementById('rank{{$i.groupId}}').value;">保存</a>
		</td>
		<td>
			<a href="?_f=group&act=remove&page={{$curPage}}&id={{$i.groupId}}{{$track}}">删除</a>
			<a href="?_f=group-set&act=edit&page={{$curPage}}&id={{$i.groupId}}{{$track}}">修改</a>
		</td>
	</tr>
	{{/foreach}}
	
</table>
<div class="pagebox">
	{{$page}}
</div>