<title>{{$pageTitle}}</title>

<form method="post">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="s_name" value="{{$s_office}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="act" value="{{$action}}" />

	工作组信息：<br />
	<select name="office">
		<option value="0" {{if $i.officeId==0}} selected="true"{{/if}}>所属部门</option>
		{{foreach item=o name=offices from=$offices}}
		<option value="{{$o.officeId}}"{{if $o.officeId==$i.officeId}} selected="true"{{/if}}>{{$o.officeName}}</option>
		{{/foreach}}
	</select>
	<input type="text" name="groupName" placeholder="小组名称" value="{{$i.groupName}}" /><br />
	<input type="text" name="phone" placeholder="部门联系电话" value="{{$i.phone}}" /><br />
	<input type="text" name="rank" placeholder="显示排序" value="{{$rank}}" /><br />

	考勤设置：<br />
	<input type="checkbox" name="week[]" value="1" {{if in_array('1',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}} />周一
	<input type="checkbox" name="week[]" value="2" {{if in_array('2',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周二
	<input type="checkbox" name="week[]" value="3" {{if in_array('3',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周三
	<input type="checkbox" name="week[]" value="4" {{if in_array('4',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周四
	<input type="checkbox" name="week[]" value="5" {{if in_array('5',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周五
	<input type="checkbox" name="week[]" value="6" {{if in_array('6',$i.workWeek)}} checked="true"{{/if}}/>周六
	<input type="checkbox" name="week[]" value="7" {{if in_array('7',$i.workWeek)}} checked="true"{{/if}}/>周日
	<br />
	<input type="text" name="workBeginTime" placeholder="上班时间" value="{{$i.workBeginTime}}" /><br />
	<input type="text" name="workOverTime" placeholder="下班时间" value="{{$i.workOverTime}}" /><br />
	<input type="hidden" name="workCoordinate" placeholder="打卡坐标" value="{{$i.workCoordinate}}" /><br />
	<select name="workRange">
		<option value=""{{if $i.workRange==0}} selected="true"{{/if}}>打卡范围</option>
		<option value="100"{{if $i.workRange==100}} selected="true"{{/if}}>100米</option>
		<option value="300"{{if $i.workRange==300}} selected="true"{{/if}}>300米</option>
		<option value="500"{{if $i.workRange==5000}} selected="true"{{/if}}>500米</option>
		<option value="800"{{if $i.workRange==8000}} selected="true"{{/if}}>800米</option>
		<option value="1000"{{if $i.workRange==1000}} selected="true"{{/if}}>1000米</option>
	</select>

	<input type="submit" value="保存" />

</form>