<title>{{$pageTitle}}</title>

<form method="post">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="act" value="{{$action}}" />

	部门信息：<br />
	<input type="text" name="officeName" placeholder="部门名称" value="{{$i.officeName}}" /><br />
	<input type="text" name="phone" placeholder="部门联系电话" value="{{$i.phone}}" /><br />
	<input type="text" name="officeCode" placeholder="部门编号" value="{{$i.officeCode}}" /><br />
	<input type="text" name="fax" placeholder="传真" value="{{$i.fax}}" /><br />
	<input type="text" name="address" placeholder="详细地址" value="{{$i.address}}" /><br />
	<textarea name="function" placeholder="职能范围">{{$i.function}}</textarea>
	<input type="text" name="rank" placeholder="显示排序" value="{{$rank}}" /><br />

	考勤设置：<br />
	<input type="checkbox" name="week[]" value="1" {{if in_array('1',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}} />周一
	<input type="checkbox" name="week[]" value="2" {{if in_array('2',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周二
	<input type="checkbox" name="week[]" value="3" {{if in_array('3',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周三
	<input type="checkbox" name="week[]" value="4" {{if in_array('4',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周四
	<input type="checkbox" name="week[]" value="5" {{if in_array('5',$i.workWeek) or $i.workWeek==''}} checked="true"{{/if}}/>周五
	<input type="checkbox" name="week[]" value="6" {{if in_array('6',$i.workWeek)}} checked="true"{{/if}}/>周六
	<input type="checkbox" name="week[]" value="7" {{if in_array('7',$i.workWeek)}} checked="true"{{/if}}/>周日
	<br />
	<input type="text" name="workBeginTime" placeholder="上班时间" value="{{$i.workBeginTime}}" /><br />
	<input type="text" name="workOverTime" placeholder="下班时间" value="{{$i.workOverTime}}" /><br />
	<input type="hidden" name="workCoordinate" placeholder="打卡坐标" value="{{$i.workCoordinate}}" /><br />
	<select name="workRange">
		<option value=""{{if $i.workRange==0}} selected="true"{{/if}}>打卡范围</option>
		<option value="100"{{if $i.workRange==100}} selected="true"{{/if}}>100米</option>
		<option value="300"{{if $i.workRange==300}} selected="true"{{/if}}>300米</option>
		<option value="500"{{if $i.workRange==5000}} selected="true"{{/if}}>500米</option>
		<option value="800"{{if $i.workRange==8000}} selected="true"{{/if}}>800米</option>
		<option value="1000"{{if $i.workRange==1000}} selected="true"{{/if}}>1000米</option>
	</select>

	其它信息：<br />
	{{if $action == 'addSave'}}
	<!-- 创建 begin -->
	<input type="text" name="title[]" placeholder="标题" value="" />
	<input type="text" name="content[]" placeholder="信息内容" value=""/><br />
	<input type="text" name="title[]" placeholder="标题" value=""/>
	<input type="text" name="content[]" placeholder="信息内容" value=""/><br />
	<!-- 创建 over -->
	{{/if}}

	<!-- 编辑 begin -->
	{{foreach item=o name=others from=$others}}
	<input type="text" name="title[]" placeholder="标题" value="{{$o.otherName}}" />
	<input type="text" name="content[]" placeholder="信息内容" value="{{$o.otherContent}}"/><br />
	{{/foreach}}
	<input type="text" name="title[]" placeholder="标题" value=""/>
	<input type="text" name="content[]" placeholder="信息内容" value=""/><br />
	<!-- 编辑 over -->

	<input type="submit" value="保存" />

</form>