<meta charset="utf-8" />
<title>{{$pageTitle}}</title>

{{foreach item=o name=offices from=$offices}}
	++ {{$o.officeName}}（{{$o.number}}）<br />
	{{foreach item=g name=groups from=$o.groups}}
	&nbsp;&nbsp;<a href="?_f=org&g={{$g.groupId}}">-- {{$g.groupName}}（{{$g.number}}）</a><br />
	{{/foreach}}
{{/foreach}}

<form method="get">
	<input type="text" name="s_name" value="{{$s_name}}" placeholder="员工姓名...">
	<input type="hidden" name="act" value="searchPost">
	<input type="hidden" name="_f" value="org">
	<input type="hidden" name="g" value="{{$groupId}}">
	<input type="submit" value="检索">
</form>

<table border="1">
	<tr>
		<td>#</td>
		<td>员工姓名</td>
		<td>隶属公司</td>
		<td>职务</td>
		<td>座机</td>
		<td>手机号码</td>
		<td>电子邮箱</td>
		<td>状态</td>
	</tr>
	{{foreach item=i name=data from=$data}}
	<tr>
		<td>{{$i.staffName}}</td>
		<td>{{$i.company}}</td>
		<td>{{$i.post}}</td>
		<td>{{$i.phone}}</td>
		<td>{{$i.tel}}</td>
		<td>{{$i.email}}</td>
		<td>{{$i.status}}</td>
	</tr>
	{{foreachelse}}
	<tr>
		<td colspan="8">{{$TIP}}</td>
	</tr>
	{{/foreach}}
	
</table>
<div class="pagebox">
	{{$page}}
</div>