<!-- 
	# 企业资质证件
	# Bowen
	# 2018-11-23
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<title>{{$pageTitle}}</title>
	<link rel="stylesheet" href="public/html/css/oa.base.css" />
	<link rel="stylesheet" href="public/html/css/oa.bootstrap.min.css" />
	<link rel="stylesheet" href="public/html/css/plugin/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="public/html/css/oa.common.css" />
	<link rel="stylesheet" href="public/html/css/oa.jquery-ui.min.css" />
	<link rel="stylesheet" href="public/html/css/oa.jquery.multiselect.css" />
	<link rel="stylesheet" href="generalAffairs/view/css/certificate-set.css" />
</head>
<body>

	<!--头部 begin-->
	{{include file='public/html/head.html'}}
	<!--头部 end-->

	<!--内容 begin-->
	<div class="container-fluid row">
		<!--内容区左侧导航 begin-->
		{{include file='public/html/menu.html'}}
		<!--内容区左侧导航end-->
		<!--内容区右侧begin-->
		<div class="contentRight col-lg-10 row">
			<!--内容区导航begin-->
			<div class="contentRightNav clearfix">
				<div class="contentRightNavLeft pull-left">
					<div class="contentRightNavTop"><span><a href="index.php?_f=index">首页</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span><a href="?_f=certificate&page={{$page}}&s_name={{$s_name}}&s_company={{$s_company}}">企业资质证件管理</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="on">资质证件设置</span></div>
					<div class="contentRightNavBottom"><span class="name">企业资质证件设置</span></div>
				</div>
			</div>
			<!--内容区导航end-->
			<!--内容区begin-->
			<div class="contentRightBox">
				<!-- 内容区 开始 -->
				<div class = "rightContent">
					<div class = "staffInfoForm contentForm clearfix">
						<form id="cerForm" method="post" class = "clearfix" enctype="multipart/form-data">
							<input type="hidden" name="page" value="{{$page}}" />
							<input type="hidden" name="s_company" value="{{$s_company}}" />
							<input type="hidden" name="s_name" value="{{$s_name}}" />
							<input type="hidden" name="id" value="{{$id}}" />
							<input type="hidden" name="act" value="{{$action}}" />
							<div class = "roleInfo">
								<p class = "addApplyTitle mB26">资质证件信息</p>
								<div class = "roleUserInfo clearfix">
									<!-- <div class = "form userName clearfix"> -->
									<div class = "retrievalsInput pull-left mR40 clearfix">
										<label class="lable_w">所属企业<span class="must">*</span></label>		
										<!-- <p class = "formTitle">所属企业<span>*</span></p> -->
										<input type="text" unselectable="on" onfocus="this.blur()" readonly="readonly" class="choseInput choseInputBm companyInput" placeholder="请选择" data-type='0' />
										<div class="retrievalsInputNavBox">
											<ul class="retrievalsInputNav">
												<li data-type = "0">请选择</li>
												{{foreach item=c name=company from=$company}}
												<li data-type = "{{$c.companyId}}"{{if $c.companyId==$i.companyId}} data-select="true"{{/if}}>{{$c.cnName}}</li>
												{{/foreach}}
												<input type="hidden" name="company" value="{{$i.companyId}}" class="selectVal" value="" autocomplete="off">
											</ul>
										</div>
									</div>
									<div class = "form userName clearfix">
										<p class = "formTitle">证件名称<span>*</span></p>
										<input type="text" name = "cerName" value="{{$i.cerName}}" placeholder = "请输入证件名称" class = "formInput nameInput" autocomplete="off"/>
									</div>
								</div>
								<div class = "roleUserInfo mT26 clearfix">
									<div class = "form userName clearfix">
										<p class = "formTitle">证件照片<span>*</span></p>
										<div class = "uploadFile">
											<div class = "uploadBtn">上传证件文件</div>
											<input type="file" name="photo[]" value = ' ' class = "uploadInput" />
										</div>
										{{if $i.cerImg!=''}}
										<div class = "showFileName"><a href="upload/file/cer/{{$i.cerImg}}" target="_blank">查看已上传文件</a><span></span></div>
										{{else}}
										<div class = "showFileName">已选择：<span></span></div>
										{{/if}}
									</div>
								</div>
								<div class = "roleUserInfo mT26 clearfix">
									<div class = "form userName clearfix">
										<p class = "formTitle">证件到期日期<span>*</span></p>
										<input type="text" name = "overDate" placeholder="请选择证件到期日期" class = "formInput overDateForm dataInput datepicker" autocomplete="off" value="{{$i.overDate}}"/>
									</div>
								</div>
								<div class = "roleUserInfo mT26 clearfix">
									<div class = "form userName clearfix">
										<p class = "formTitle">备注</p>
										<textarea name="remark" placeholder="备注内容" class = "formInput remarkInput">{{$i.remark}}</textarea>
									</div>
									<div class = "form setNum clearfix">
										<p class = "formTitle">设置排序<span>*</span></p>
										<input type="number" name = "rank" value="{{$rank}}" placeholder = "0" class = "formInput numInput" autocomplete="off"/>
										<span class="tipsIcon"><span class = "tips">数字越大，排序越靠前</span></span>
									</div>
								</div>	
							</div>
							<input type="hidden" name="old" value="upload/file/cer/{{$i.cerImg}}">
						</form>
					</div>
					<div class = "formBtnsBox clearfix">
						<div class = "formBtn formBtnSave">保存</div>
						<div class = "formBtn formBtnCancel">取消</div>
					</div>
				</div>
				<!-- 内容区 结束 -->
			</div>
			<!--内容区end-->
		</div>
		<!--内容区右侧end-->
	</div>
	<!--内容 end-->

	<script type="text/javascript" src="public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="public/html/js/plugin/oa.respond.js"></script>
	<script type="text/javascript" src="public/html/js/plugin/oa.bootstrap.min.js"></script>
	<script type="text/javascript" src="public/html/js/plugin/oa.jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="public/html/js/oa.common.js" ></script>
	<script type="text/javascript" src="public/html/js/plugin/oa.jquery-ui.min.js" ></script>
	<script type="text/javascript" src="public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="public/html/js/jquery.form.min.js" ></script>
	<script type="text/javascript" src="generalAffairs/view/js/certificate-set.js" ></script>
	<script>
		$(".datepicker").datepicker({
			inline: true,
			showOtherMonths: true,
			selectOtherMonths: true,
			changeMonth: true,
			changeYear: true,
			yearRange: "1950:2050",
			dateFormat: 'yy-mm-dd'
		});
	</script>
</body>
</html>