<!--
	作者：sxh
	时间：2018-11-22
	描述：企业活动详情
-->
<!DOCTYPE html>
<html>

	<head>
		<title>企业活动详情</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="../../public/html/css/oa.base.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.bootstrap.min.css" />
		<link rel="stylesheet" href="../../public/html/css/plugin/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="../../public/html/css/oa.common.css" />
		<link rel="stylesheet" href="css/company-activity-details.css" />
	</head>

	<body>
		<!--头部 begin-->
		<div class="header clearfix">
			<!--左侧logo  begin-->
			<div class="headerLogoLeft pull-left"><img src="../../public/html/images/logo.png" alt="" /></div>
			<!--左侧logo  end-->
			<!--右侧信息 begin-->
			<div class="headerInfo pull-right clearfix">
				<div class="headerInfoImages pull-left">
					<img src="../../public/html/images/newMessage.png" alt="" />
					<!--是否有新消息begin-->
					<img src="../../public/html/images/new-message.jpg" alt="" class="newMessage" />
					<!--是否有新消息end-->
				</div>
				<div class="headerHandName pull-left clearfix">
					<!--头像begin-->
					<div class="headerHand pull-left"><img src="../../public/html/images/hand-image.png" alt="" /></div>
					<!--头像end-->
					<!--姓名begin-->
					<div class="headerNameInfo pull-left">
						<div class="headerNameText">葛二蛋</div>
						<div class="headerhoner">塔湾村扛把子-村长</div>
					</div>
					<!--姓名end-->
					<div class="headerMore pull-left">
						<img src="../../public/html/images/header-down.jpg" alt="" />
					</div>
					<!--设置密码begin-->
					<div class="headerSet">
						<ul>
							等设计出样式
						</ul>
					</div>
					<!--设置密码end-->
				</div>
			</div>
			<!--右侧信息 end-->
		</div>
		<!--头部 end-->

		<!--内容 begin-->
		<div class="container-fluid row">
			<!--内容区左侧导航 begin-->
			<div class="contentLeftNav col-lg-2 row">
				<div class="contentLeftNavListTop col-lg-12">
					<div class="contentNavList on col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-a.png" alt="" class="navLogo" />首页</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-b.png" alt="" class="navLogo" />DIT组织架构</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-c.png" alt="" class="navLogo" />人事管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-d.png" alt="" class="navLogo" />请假管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-e.png" alt="" class="navLogo" />出差管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-f.png" alt="" class="navLogo" />车辆管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-g.png" alt="" class="navLogo" />办公备品管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-h.png" alt="" class="navLogo" />综合事务管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-i.png" alt="" class="navLogo" />考勤管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
					<div class="contentNavList col-md-12 row">
						<div class="contentNavListText"><img src="../../public/html/images/nav-image-j.png" alt="" class="navLogo" />系统运维管理</div>
						<ul class="contentNavListMore">
							<li>
								<a href="">员工管理</a>
							</li>
							<li>
								<a href="">我的档案</a>
							</li>
							<li>
								<a href="">员工档案管理</a>
							</li>
							<li>
								<a href="">转正考核</a>
							</li>
							<li>
								<a href="">离职审批</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="contentNavBottom col-lg-12">
					Copyright© by 大连国际货运有限公司 <br />since 2000 辽ICP备05001546号
				</div>
			</div>
			<!--内容区左侧导航end-->
			<!--内容区右侧begin-->
			<div class="contentRight col-lg-10 row">
				<!--内容区导航begin-->
				<div class="contentRightNav clearfix heightAuto">
					<div class="contentRightNavLeft pull-left">
						<div class="contentRightNavTop"><span><a href="">首页</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span><a href="">综合事务管理</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="on">企业活动管理</span></div>
						<div class="contentRightNavBottom margin-bottom-8"><span class="name margin-left-9">【活动】大连市第29界物流行业会议</span></div>
						<div class="company-activety-time-person-read">
							<div class="company-activety-time-box">发布时间：2018-12-12</div>
							<div class="company-activety-person-box">发布人：张雨</div>
							<div class="company-activety-read-box">1008611阅读</div>
						</div>
						<div class="company-activety-endTime">报名截止时间：2018-09-01 12:00</div>
					</div>
					<!--状态begin-->
					<!--<div class="contentRightNavRight pull-right clearfix">-->
						<div class="buttonGroup2 margin-top-20">
							<div class="button-back-nav cursorPointer">返回</div>
						</div>
					<!--</div>-->
					<!--状态end-->
				</div>
				<!--内容区导航end-->
				<!--内容区begin-->
				<div class="contentRightBox">
					<div class="contentRightContent">
						<div class="company-activity-contentBox">
							<h1 class="activity-title-red">活动详情</h1>
							<div class="company-activety-content margin-left-0">
								<div class="activity-introduction">
									<p>我们来聊聊新零售的供应链之争</p>
									<p>我们已经讨论过中国零售业正在发生的深刻变化：「线上线下同品同质同价」第一次在中国成为可能。当我们把时间线拉长，去看零售业的创新、反复和终局，有一件事是绕不开的：无分「新」与「旧」，零售都是全链条的效率竞争，也是对优质供应链资源的竞争。</p>
									<p>中国拥有难以想象的产业链技术，全球接近 70%的主要消费品的产能大概都在中国。在接下来的数年内，中国有机会出现大量的难以计数的世界级的消费品牌，但是前提是零售公司要接近，并掌控，甚至创造最优质的供应链。</p>
									<p>另一个牢牢掌控供应链的消费品企业是苹果。中国有家公司叫瑞声科技 (HK：02018)，它给苹果做声学元器件，有几条生产线专门供应苹果。</p>
									<p>苹果是怎么掌控这条关键供应链的呢？这几条线上所有的控制软件和电脑是苹果公司的，ERP 系统也是苹果的。瑞声负责生产线的人经常会收到苹果的邮件，说某一条产线的某一个地方有点问题，然后苹果来开权限，让瑞声的生产线负责人去现场查看。此外，苹果还有二十来位工程师轮流驻厂。简单来说，原则上除了设备和工人是瑞声的，剩下的都由苹果控制。</p>
								</div>
							</div>
						</div>
						
						
						<div class="activity-feedback-box">
							<h1 class="activity-title-red">提交反馈</h1>
							<div class="company-activity-formBox">
								<form>
									<div class="company-activity-formBox-row1">
										<span class="textTips">是否参与</span>
										<div class="activity-choose-box">
											<div class="activity-join activity-choose activity-chosen" id="1">参与</div>
											<div class="activity-unjoin activity-choose" id="2">不参与</div>
											<input type="hidden" class="joinType" value="1" />
										</div>
										
									</div>
									<div class="company-activity-formBox-row2 company-activity-formBox-join">
										<div class="company-activity-formBox-input clearfix">
											<span class="textTips">身高</span>
											<input type="" name="" id="" value="" placeholder="请输入" class="height inputPlaceholder must" data-name="身高" />
										</div>
										<div class="company-activity-formBox-input clearfix">
											<span class="textTips">体重</span>
											<input type="" name="" id="" value="" placeholder="请输入" class="weight inputPlaceholder must" data-name="体重" />
										</div>
										<div class="company-activity-formBox-input clearfix">
											<span class="textTips">性别</span>
											<input type="" name="" id="" value="" placeholder="请输入" class="weight inputPlaceholder" />
										</div>
										<div class="company-activity-formBox-input clearfix">
											<span class="textTips ">年龄</span>
											<input type="" name="" id="" value=""  placeholder="请输入" class="weight inputPlaceholder must"  data-name="年龄" />
										</div>
										<div class="company-activity-formBox-input pull-left clearfix">
											<span class="textTips ">爱好</span>
											<input type="" name="" id="" value="" placeholder="请输入" class="weight inputPlaceholder" />
										</div>
									</div>
									<div class="company-activity-formBox-row2 displayNone">
										<span class="textTips displayBlock width100">不参与原因：（必填）</span>
										<textarea class="unJoin-reason"></textarea>
									</div>
								</form>
							</div>
						</div>
						
						<div class="buttonGroup2-bottom">
							<div class="button-back-bottom">返回</div>
							<div class="button-feedback-bottom">提交反馈</div>
						</div>
						
					</div>
				</div>
				<!--内容区end-->
			</div>
			<!--内容区右侧end-->
		</div>
		
		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.respond.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.bootstrap.min.js"></script>
		<script type="text/javascript" src="../../public/html/js/plugin/oa.jquery.placeholder.min.js" ></script>
		<script type="text/javascript" src="../../public/html/js/plugin/jquery.mCustomScrollbar.concat.min.js" ></script>
		<script type="text/javascript" src="../../public/html/js/oa.common.js" ></script>
		<script type="text/javascript" src="js/company-activity-details.js" ></script>
	</body>

</html>