
input::-webkit-input-placeholder {
	color: #aaaaaa;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #aaaaaa;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #aaaaaa;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #aaaaaa;
}

.table1Fixed{
	width: 9%;
}
.tableBox{
	width: 91.07%;
	float: right;
}

.sortInput{
	line-height: 28px;
}
.sortTic{
	left: -54px;
}
.retrievalsInput input {
    width: 199px;
    height: 42px;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
    border-radius: 3px;
    color: #222222;
    font-size: 14px;
    margin-left: 15px;
    background: #fbfbfd;
    line-height: 38px;
}
@media (min-width: 1250px) and (max-width: 1550px) {
	.retrievaButton{
		width: 120px;
	}
	.table1Fixed{
		width: 11%;
	}
	.tableBox{
		width: 89.07%;
		float: right;
	}
}

.table1.table1Content{
	width: 100%;
}