<title>{{$pageTitle}}</title>

<form method="post">
<input type="hidden" name="page" value="{{$page}}" />
<input type="hidden" name="s_roleName" value="{{$s_roleName}}" />
<input type="hidden" name="id" value="{{$id}}" />
<input type="hidden" name="act" value="{{$action}}" />
<input type="text" name="roleName" placeholder="审批角色名称" value="{{$i.checkRoleName}}" /><br />
<input type="text" name="rank" value="{{$rank}}" placeholder="排序" /><br />

<input type="submit" value="保存" />
</form>