<title>{{$pageTitle}}</title>

<form method="post">

	<input type="hidden" name="page" value="{{$page}}" />
	<input type="hidden" name="s_name" value="{{$s_name}}" />
	<input type="hidden" name="s_category" value="{{$s_category}}" />
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="hidden" name="act" value="{{$action}}" />
	<select name="category">
		<option value="0" {{if $s_category==''}} selected="true"{{/if}}>备品分类</option>
		{{foreach item=c name=categorys from=$categorys}}
		<option value="{{$c.categoryId}}"{{if $c.categoryId==$i.categoryId}} selected="true"{{/if}}>{{$c.categoryCode|cat:$c.categoryName}}</option>
		{{/foreach}}
	</select><br />
	<input type="text" name="toolName" placeholder="备品名称" value="{{$i.toolName}}" /><br />
	<input type="text" name="toolCode" placeholder="备品编号" value="{{$i.toolCode}}" /><br />
	生成编号
	<input type="radio" name="createNumber" value="1"{{if $i.isFixedAssets==1}} checked{{/if}}>是
	<input type="radio" name="createNumber" value="0"{{if $i.isFixedAssets==0}} checked{{/if}}>否<br />
	<input type="text" name="rank" value="{{$rank}}" placeholder="排序" /><br />
	<input type="submit" value="保存" />

</form>