body{
	background-color: #f6f6fa;
}
.container-fluid{
	background-color: #f6f6fa;
}
.marginRight0{
	margin-right: 0 !important;
}
.contentRightInfo{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 33px;
	padding-bottom: 36px;
	background-color: #fff;
}
.contentTic{
	width: 100%;
	height: 60px;
	border: 1px solid #f3dbdb;
	border-radius: 8px;
	padding-left: 80px;
	background: url(../images/tic.jpg) no-repeat 46px 50% #fef4ef;
	line-height: 58px;
	color: #e11f26;
	position: relative;
	margin-bottom: 23px;
	font-size: 14px;
}
.contentHandRightBottom{
	font-size: 14px;
	color: #999;
}
.contentTic:hover{
	color: #ef0a13;
}
.contentTic img{
	position: absolute;
	right: -13px;
	top: -15px;
	cursor: pointer;
}
.contentHandLeft{
	width: 90px;
	height: 90px;
	margin-right: 29px;
}
.contentHandLeft img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.contentHandRightTop{
	font-size: 20px;
	color: #222;
	margin-top: 13px;
	margin-bottom: 10px;
}
.quickFunctionBox{
	width: 19.05%;
	height: 120px;
	background-color: #fff;
	border-radius: 8px;
	margin-right: 1.181%;
	position: relative;
	background: url(../images/more.jpg) no-repeat 95% 12% #fff;
}
.quickFunctionPart{
	text-align: center;
	font-size: 20px;
	color: #1b1b1b;
	line-height: 122px;
	width: 100%;
	position: relative;
}
.quickFunctionPart:hover{
	color: #f72f2d;
}
.quickFunctionPartNum{
	display: block;
	width: 28px;
	height: 20px;
	background: url(../images/numJ.png) no-repeat;
	position: absolute;
	top: 38px;
	right: 12%;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.quickFunctionPart img{
	margin-right: 6.4%;
	width: 23.92%;
	position: relative;
	top: 5px;
}
.contentRightContentTitle{
	font-size: 20px;
	color: #999999;
	margin-bottom: 16px;
}
.quickFunction{
	margin-bottom: 47px;
}
.dynamicsActivePart{
	border: 1px solid #ebeaef;
	background-color: #fff;
	border-radius: 8px;
	width: 49.3%;
}
.dynamicsActivePart .ul .li{
	border-top: 1px solid #ebeaef;
	position: relative;
	height: 55px;
	line-height: 55px;
	padding-left: 4%;
	padding-right: 4%;
}
.dynamicsActivePart .ul .li:after{
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	background-color: #969696;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.dynamicsActivePart .ul .li .liL{
	padding-left: 2.2%;
	font-size: 14px;
	color: #555;
	width: 79.2%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dynamicsActivePart .ul .li .liL:hover{
	color: #272727;
}
.dynamicsActivePart .ul .li .liR{
	font-size: 14px;
	color: #a1a1a1;
	width: 80px;
	text-align: right;
}
.dynamicsActivePartTitle{
	font-size: 20px;
	color: #07196c;
	height: 55px;
	line-height: 55px;
	padding-left: 2.7%;
	position: relative;
	background-color: #eff1f5;
}
.dynamicsActivePartTitle img{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 3.9%;
}
@media (min-width: 1250px) and (max-width: 1550px) {
	.quickFunctionPart{
		font-size: 16px;
		line-height: 90px;
	}
	.quickFunctionBox{
		height: 90px;
	}
	.quickFunctionPart img {
	    margin-right: 6.4%;
	    width: 23.92%;
	    position: relative;
	    top: 2px;
	}
	.quickFunctionPartNum{
		top: 22px;
		right: 4px;
	}
}