.opinion span {
    display: block;
    width: 60px;
    text-align: center;
    position: relative;
    margin-left: 8px;
}

.opinion span.refuse:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #e53631;
    background: url(../../../public/html/images/jujue.png) no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
}

.opinion span.agree:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #7ace4c;
    background: url(../../../public/html/images/tongguo.png) no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
}

.opinion span.nothing:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #c8ced9;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
    background: url(../../../public/html/images/lizhi.png) no-repeat;
}

.popTic{
	display: none;
}

.marginBottom43{
	margin-bottom: 43px;
}

.valueMust{
	color: #e53631;
	font-size: 18px;
}

input::-webkit-input-placeholder {
	color: #aaaaaa;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #aaaaaa;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #aaaaaa;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #aaaaaa;
}

.margin-left-9{
	margin-left: -9px;
}

.company-activety-time-person-read{
	overflow: hidden;
	font-size: 14px;
	color: #999;
	margin-bottom: 20px;
}

.company-activety-time-box{
	float: left;
	padding-left: 20px;
	background: url(../images/icon-time.png) no-repeat 0 3px;
}

.company-activety-person-box{
	float: left;
	padding-left: 22px;
	background: url(../images/icon-person.png) no-repeat 0 3px;
	margin-left: 111px;
}

.company-activety-read-box{
	float: left;
	padding-left: 22px;
	background: url(../images/icon-read.png) no-repeat 0 3px;
	margin-left: 111px;
}

.margin-bottom-8{
	margin-bottom: 8px;
}

.company-activety-endTime{
	color: #e53631;
	padding-bottom: 27px;
}

.company-activity-contentBox{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	padding-top: 23px;
	margin-bottom: 40px;
}

.activity-title-red{
	font-size: 20px;
	color: #07196c;
	margin: 0;
	position: relative;
	text-indent: 28px;
	margin-bottom: 35px;
}

.activity-title-red:after{
	display: block;
	width: 4px;
	height: 18px;
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	background: #d71e2d;
}

.company-activety-content{
	margin-left: 50px;
	overflow: hidden;
	padding-bottom: 76px;
}

.activityImageBox{
	float: left;
	overflow: hidden;
	width: 321px;
	height: 215px;
	border-radius: 3px;
}

.activity-introduction{
	width: 94%!important;
	/*float: left;*/
	/*margin-left: 2.8%;*/
	font-size: 14px;
	color: #666;
	margin: 0 auto;
}

.activity-introduction p{
	margin-bottom: 28px;
}

.margin-left-0{
	margin-left: 0px!important;
}

/*@media (min-width: 1570px) and (max-width: 1640px) {
	.activity-introduction{
		width: 67.6%;
	}
}

@media (min-width: 1280px) and (max-width: 1569px) {
	.activity-introduction{
		width: 62.6%;
	}
}
@media (min-width: 1250px) and (max-width: 1300px) {
	.activity-introduction{
		width: 58%;
	}
}*/
.activity-feedback-box{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding-top: 23px;
    margin-bottom: 30px;
    padding-bottom: 62px;
}

.company-activity-formBox{
	margin-left: 50px;
	overflow: hidden;
}

.company-activity-formBox-row1{
	overflow: hidden;
	height: 39px;
	line-height: 38px;
	margin-bottom: 37px;
}

.company-activity-formBox-row1 .textTips,.company-activity-formBox-row2 .textTips{
	float: left;
	color: #222;
	font-size: 16px;
}

.activity-choose-box{
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	color: #666;
	width: 195px;
	margin-left: 13px;
	border: 1px solid #ddd;
	border-radius: 18px;
	float: left;
	overflow: hidden;
}

.activity-join{
	width: 96.5px;
	float: left;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #ddd;
}

.activity-unjoin{
	width: 95.5px;
	float: left;
	text-align: center;
	cursor: pointer;
}

.company-activity-formBox-row2{
	overflow: hidden;
	/*height: 43px;*/
	line-height: 42px;
	padding-bottom: 46px;
}
.company-activity-formBox .height,.company-activity-formBox .weight{
	width: 238px;
	height: 40px;
	border: 1px solid #ddd;
	border-radius: 3px;
	float: left;
	margin-left: 14px;
	text-indent: 9px;
	background: #fbfbfd;
	line-height: 35px;
}
.company-activity-formBox-input{
	margin-bottom: 24px;
}
.margin-left-74{
	margin-left: 74px;
}

.buttonGroup2-bottom{
	overflow: hidden;
	margin-bottom: 55px;
}

.buttonGroup2-bottom div{
	float: left;
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-radius: 3px;
	cursor: pointer;
}

.button-back-bottom{
	background: #d4d9e1;
	font-size: 16px;
	color: #012989;
	margin-right: 28px;
}

.button-feedback-bottom{
	background: #012989;
	color: #fff;
	font-size: 16px;
}

.unJoin-reason{
	width: 449px;
	height: 101px;
	background: #fbfbfd;
	padding-left: 12px;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-top: 12px;
	line-height: 1;
}

.activity-chosen{
	color: #fff!important;
	background: #012989!important;
}

